[2021-06-30 16:16] balay commented on #148
Thanks! Started a test pipeline

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1389765748

[2021-06-30 16:18] balay commented on #144
Thanks! Started a test pipeline at

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1389765747

[2021-06-30 16:20] balay commented on #137
BTW: Whats the best way to get `DEAL_II_FORCE_BUNDLED_TBB` into spack spec for dealii - so that it can be used from xsdk [or this one test box]?

For now - I'm testing on my branch [not spack/develop] - so just added this in [as above patch]

[2021-06-30 20:39] balay commented on #149
The test works now!

[2021-06-30 20:39] #149 closed

[2021-06-30 22:22] marcfehling commented on #137
I don't know what the cause of the issue is in the first place. Has this been fixed with newer releases of `TBB`?

For now, I would always set the `DEAL_II_FORCE_BUNDLED_TBB` option in the `cmake_args` function of the dealii module if used with an Intel compiler. If we know that it happens only at certain releases, we could check for compiler versions and only force it when necessary.

[2021-06-30 23:54] bangerth commented on #144
Looks like this worked!

[2021-06-30 23:54] #144 closed

[2021-07-01 16:21] balay commented on #148
I'm getting a different error now.

[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6749596/spack-build-out.txt)

[2021-07-01 18:36] marcfehling commented on #148
Thank you for your patience and perseverance! :-)

This particular constructor causes issues with Intel compilers prior to 19.0 as its [documentation](https://www.dealii.org/developer/doxygen/deal.II/classFESystem.html#ab7c8b5322c641b984a63b65145dbe67e) states. We should have avoided using it in our tutorial examples. I'll propose a patch.

[2021-07-01 22:40] marcfehling commented on #148
https://github.com/dealii/dealii/pull/12533 has been merged. Can you try to build it again?

[2021-07-01 23:29] balay commented on #148
Restarted build at https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1393883327
[this build is slow - takes many hours.]

[2021-07-02 15:59] bangerth commented on #148
This still seems to fail, but I haven't figured out how one would find what the error message is. Where do you find it?

[2021-07-02 16:22] balay commented on #148
For logs, check `Job artifacts` -> `Browse`

The logs can get deleted after a few days - so I usually download (the primary spack build log) and attach to the issue.

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6755795/spack-build-out.txt)

[code]
Hm  - not sure why the compiler failed. There another build [from today] that got started - will see if this error persists.

[2021-07-02 17:31] marcfehling commented on #148
Looks like this new error is similar to the original one of https://github.com/xsdk-project/xsdk-issues/issues/121#issue-707410699.

[2021-07-02 21:07] balay commented on #148
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1394311071

This restarted build shows a different error now.
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6757069/spack-build-out.txt)

[code]

[2021-07-04 14:17] balay commented on #148
This issue has now come up with the intel-19 build aswell but at a different location?
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1397005374

[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6760012/spack-build-out.txt)

[2021-07-06 04:38] marcfehling commented on #148
It's the [same lines of code](https://github.com/dealii/dealii/blob/43aab5883598bcba818a7bd708a4294ed3e60566/include/deal.II/numerics/vector_tools_evaluate.h#L271-L281) that trigger the internal compiler error with both compilers.

@peterrum - Do you have an idea? Maybe avoiding the lambda function would solve the problem? Or maybe explicitely expecting a reference here, i.e., `&cache.get_mapping(

[2021-07-06 04:47] marcfehling commented on #148
@balay - You are using the Intel compilers `18.0.2.20180210` and `19.0.0.20190206`. Do these problems also exist in newer versions of the Intel Compiler, like `19.1` or `20`?

[2021-07-06 13:55] peterrum commented on #148
I guess one could write:
[code]
Do we need this on master or the release branch?

[2021-07-06 15:34] balay commented on #148
Sorry - due to the complexity of the setup  (wrt getting compatible gcc, python etc working together and not get random non-xsdk dependent package build errors) - I could not use newer version than 19.0.3 on this test box. Wrt  knl with18.0.2 - that box has an old license that limits upgrading to newer version (19.0.3 might work - but I had  issues with IMPI from that install - so had abandoned us

[2021-07-07 02:40] marcfehling commented on #148
https://github.com/dealii/dealii/pull/12548 has been merged. Can you try to build it again?

[2021-07-07 19:11] balay commented on #148
Thanks! both intel 18 and 19 builds are clean now.

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/332954700

[2021-07-07 19:12] #148 closed

[2021-07-07 23:54] marcfehling commented on #137
I can not reproduce the original issue with neither `Intel 18.0.2.20180210, TBB 2018.0` nor `Intel 19.1.0.20200306, TBB 2020.2`. I configured deal.II using `mpiicpc` and an external `TBB` (without the use of spack).

I don't know how to narrow down the problem further.

[2021-07-08 00:51] balay commented on #137
For now I'll assume its a quirk of this test box [version of intel compiler setup].

And if I can enable  `DEAL_II_FORCE_BUNDLED_TBB` via some spack option (variant?)- I can use it only on this box

[2021-07-08 14:10] balay opened #150 "strumpack@master failure on various test boxes"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1408088631
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1408088612
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1408088619
[code]
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1408088626

A different error here?
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6785090/spack-build-out.txt)

Yesterday's bui

[2021-07-08 15:21] balay commented on #150
I'm still confused about the trigger for these 2 errros. I see some spack changes and a single strumpack change - but don't understand the relation to these 2 failures.

The first issue is due to a change in Apr - but why is it triggered now?
[code]
I have a potential fix: https://github.com/spack/spack/commit/045f324a9c65fc2a6b3d5ee22800e0362b590fbc

[2021-07-08 15:24] pghysels commented on #150
The commit is from April, but I merged that branch yesterday.
I will look into it today.

Pieter

On Thu, Jul 8, 2021, 8:21 AM Satish Balay ***@***.***> wrote:

[2021-07-08 15:47] balay commented on #150
Ok - I need to figure out if spack saves the commit for a build in logs - so its easier to look for the actual changes in the branch.

[2021-07-08 19:26] pghysels commented on #150
I cannot reproduce this
`error: implicit conversion from '_Complex float' to 'float' is not permitted in C++`
I tried with a small test code, with different clang versions (9,11,12) and different C++ standards (98/11/14/17).
It seems related to this https://reviews.llvm.org/D35817

I did try to fix it here:
 https://github.com/pghysels/STRUMPACK/commit/967782df94c421cf6f460445070130a092439524
I ho

[2021-07-08 19:44] balay commented on #150
@pghysels I'm still getting build errors. Attaching the log

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6786884/spack-build-out.txt)

[2021-07-08 21:57] pghysels commented on #150
Can you try again?
https://github.com/pghysels/STRUMPACK/commit/f51cd6bda69513ad03c040cb5fba087f03a4ed51
We tested on a Mac with clang, where we could reproduce the problem.

[2021-07-08 22:12] balay commented on #150
Thanks! This MacOS build goes through now.

[2021-07-08 22:12] #150 closed

[2021-07-09 16:29] masterleinad commented on #141
Looks like https://github.com/trilinos/trilinos/commit/3bcdcb8155ba4c840529bad25d0410b7bebea1b8 broke this.

[2021-07-09 19:03] masterleinad commented on #141
Fixed by https://github.com/trilinos/Trilinos/pull/9409 and https://github.com/ORNL-CEES/DataTransferKit/pull/600.

[2021-07-09 19:54] balay commented on #141
@masterleinad Thanks! A manual test with the above 2 patches gets the build going [on one of the linux tests]!

I'll attempt a full test - but this will take a while to complete

[2021-07-09 19:57] balay commented on #141
https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/334683634

[2021-07-09 23:15] balay commented on #141
I'm seeing a different build error on MacOS
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1413706279
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6794258/spack-build-out.txt)

[2021-07-11 16:46] balay opened #151 "ginkgo@develop build failures"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1414978825
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1414978808
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1414978815
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1414978819
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6797285/spack-build-out.txt)

Yesterday's build didn't have these errors.
htt

[2021-07-12 16:42] masterleinad commented on #141
Can you give me some instructions for reproducing the failure?

[2021-07-12 16:52] balay commented on #141
Well the build is on an Intel/Mac with not the latest xcode-command-line-tools [don't know if this will make a difference], and gfortran (and some build tools - don't know if this will make a difference) from brew.

[code]
And the general build is with:

[code]
Attaching spack config files used here..
[compilers.yaml.txt](https://github.com/xsdk-project/xsdk-issues/files/6803096/compilers.yaml.txt

[2021-07-12 19:49] balay commented on #141
I've run this on a different box [with similar osx/xcode version]
[code]

with a fresh clone of spack [and fresh `spack compiler find`] - i.e  no packages.yaml. And used the following command [to avoid building other xsdk packages]
[code]
Attaching the build log [with errors]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6804021/spack-build-out.txt)

[2021-07-13 16:02] balay opened #152 "butterflypack failures on linux"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1419085456
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6810312/spack-build-out.txt)

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1419085454
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6810300/spack-build-out.txt)

[2021-07-13 16:08] balay commented on #152
BTW:
[code]

Its best to avoid storing datafiles in the same repo. Each time ButterflyPack is built - there is a 1GB download [on each of the test boxes]. The same issue exists with release tarballs - as the tarballs are generated from the repo [and include the datafiles]

With git - once things are added - its hard to remove them. To do this one has to practically rewrite history aka use  `filter

[2021-07-13 16:21] liuyangzhuan commented on #152
The error is due to the fact that I changed *INCLUDE 'mpif.h'* to a more
modern way *use MPI*. What compiler and MPI version are you using here?

I will figure out a way to reduce the repo size.

On Tue, Jul 13, 2021 at 9:08 AM Satish Balay ***@***.***>
wrote:

--
Yang Liu
Research Scientist
Lawrence Berkeley National Laboratory

[2021-07-13 16:33] balay commented on #152
modern way *use MPI*

Well from petsc experience this is fragile. [but I think petsc code has fixes for this]. The usual issue is - the module has certain prototypes - and if the usage is different - then compilers give errors . For ex:  integer vs integer(:) code usage  is usually the same on fortran side - but not with interface definitions (aka modules)

https://gitlab.com/xsdk-project/spack-xs

[2021-07-13 16:48] liuyangzhuan commented on #152
Thanks. For the petsc fix, are you talking about:
https://stackoverflow.com/questions/43875896/the-same-named-entity-in-petsc-and-mpi-conflict

On Tue, Jul 13, 2021 at 9:34 AM Satish Balay ***@***.***>
wrote:

--
Yang Liu
Research Scientist
Lawrence Berkeley National Laboratory

[2021-07-13 17:05] balay commented on #152
Hm - don't understand the stackoverflow issue. What I was referring to is:

with F77 - the following 2 are equivalent
[code]
[code]
But with modules - the above need 2 interface definitions - and if one is missing - you get errors.

Now multiply that will all combinations of array parameters that can be scalars..

[2021-07-13 17:14] balay commented on #152
i.e in the above case - changing `integer i` usage to `integer i(1)`  might get a prototype match with the module interface definition and fix some compile errors.

[2021-07-13 21:14] liuyangzhuan commented on #152
Satish,
Can you try the latest commit? As a quick workaround, I added an optional
compiler flag to switch the mpi module behavior.

On Tue, Jul 13, 2021 at 10:14 AM Satish Balay ***@***.***>
wrote:

--
Yang Liu
Research Scientist
Lawrence Berkeley National Laboratory

[2021-07-14 04:58] balay commented on #152
Thanks! The builds are clean now.

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1422325477
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1421780908

[2021-07-14 04:58] #152 closed

[2021-07-21 14:17] balay opened #153 "dealii build failure with intel-18/knl"
[code]
cc: @marcfehling

[2021-07-21 15:23] bangerth commented on #153
I think we're just missing a `#include`. Working on it!

[2021-07-21 20:39] bangerth commented on #153
Can you try again? We think this might be a compiler bug, but it's hard to tell without access to the compiler :-(

[2021-07-21 23:37] balay commented on #153
This failure persists
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6859261/spack-build-out.txt)

[2021-07-22 21:14] marcfehling commented on #153
It looks like `Intel 18` does not like our `Assert` macros in nested lambda functions. This issue does not occur on more recent compiler versions. We've wrapped the problematic statement around a conditional. Can you try to build again?

[2021-07-23 01:38] balay commented on #153
Thanks! The build goes through now.

[2021-07-23 01:38] #153 closed

[2021-07-26 03:00] bangerth commented on #153
Thanks for double-checking, @balay !

On a separate note, we really appreciate you running these tests. It is very useful to see these issues early on in our processes and is going to make release processes a lot easier and safer for us! Thank you!

[2021-08-05 15:57] balay opened #154 "hypre API change?"
petsc build fails with hypre changes

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1475421696
[code]

Perhaps its possible to add in backward compatibility API?

cc: @ulrikeyang @osborn9

[2021-08-05 18:38] balos1 commented on #142
This patch should solve the problem. Instead of adding it as a patch in spack, I will see if we can change the sundials@develop target to be something newer that includes this.

[code]

[2021-08-05 19:20] balay commented on #154
Trilinos is also failing with this change
[code]
cc: @keitat  @jwillenbring

[2021-08-05 19:45] balay commented on #154
sundials aswell
[code]
cc: @balos1

[2021-08-05 20:03] balay commented on #154
Also mfem - but that was already discussed.

However - hypre appears to be mandatory for mfem - as I see no hypre variant [that I can temporarily disable for testing]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/6941359/spack-build-out.txt)

cc: @acfisher

[2021-08-06 15:36] balay commented on #154
Ok - this trilinos breakage is unrelated to hypre API change - its due to https://github.com/spack/spack/pull/25033 - a potential fix is at https://github.com/spack/spack/pull/25291

[2021-08-08 15:28] balay commented on #142
@balos1 Thanks! I've added this to `balay/xsdk-develop` for now.

https://github.com/spack/spack/commit/d94d1e413751551fdbfdc975bcab2f584cdf10c8

Looks like `remove-links-to-OpenMP-vector.patch` is also missing from current sundials@develop

[2021-08-19 18:32] balay commented on #151
ping

[2021-08-19 18:39] balay commented on #151
I haven't retried this build in the recent past - will redo - and update.

[2021-08-19 18:56] upsj commented on #151
probably related to the directory structure changes in https://github.com/ginkgo-project/ginkgo/pull/733, I wasn't aware we were building `develop` anywhere outside our own infrastructure.

[2021-08-20 03:14] balay commented on #151
Thanks! The xsdk builds go through now with this patch.

[2021-09-09 18:46] balay opened #155 "strumpack@develop failure on macos"
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7139019/spack-build-out.txt)

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1574807340

[2021-09-09 18:57] balay commented on #153
[@bangerth  adding to this info closed issue]

spack now defaults to boost@1.77.0 - and this broke  some dealii@develop, dealii@9.2.0 builds

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/363551183

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1554299028

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1554517766

I've switched CI for these failed jobs to use boost@1.76.0

[2021-09-09 19:06] #155 closed

[2021-09-09 19:16] pghysels commented on #155
I didn't mean to close this yet, but I think this commit should fix it:
https://github.com/pghysels/STRUMPACK/commit/0383e41cf7e94b6a95decf5b89ecc2a8f747dc56

I'm trying to figure out how to test on my linux machine with libc++ instead of libstdc++.

[2021-09-09 19:33] pghysels commented on #155
Ok, this is indeed fixed by  https://github.com/pghysels/STRUMPACK/commit/0383e41cf7e94b6a95decf5b89ecc2a8f747dc56
I have reproduced the problem with clang++-12 and libc++ on Ubuntu 21.04.

[2021-09-09 20:06] balay commented on #155
Thanks! I've restarted one of the failed builds:

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1577881880

[2021-09-09 20:30] marcfehling commented on #153
We have issues with the current boost release as documented in https://github.com/dealii/dealii/pull/12732. It seems like some of them are boost internal problems that will hopefully be fixed upstream by them.

It's a good idea to use an older version for release `9.2.0`, or in general until we wait for `boost@1.77.1` :)

[2021-09-09 20:39] balay commented on #153
@marcfehling thanks for the additional context!

Boost has always caused issues with xsdk builds. We've been using boost@1.74.0, boost@1.70.0 for some of the other builds due to prior issues.

[2021-09-09 20:41] balay commented on #155
strumpack build is now clean!

[2021-09-10 13:07] mkstoyanov commented on #94
I finally figured this one out, so I'm posting here since this is the first Google hit when searching for the error message. @sethrj @mtlaiu

The short story, I added the following to the CMake build command:
[code]
which keeps the default `-qthreaded` and removes `-qhalt=e`, see the long explanation below.

The XL compiler blurs the distinction between "warning" and "error" by having categories o

[2021-09-13 13:46] balay opened #156 "dealii@9.3.0 build failure on MacOS"
Not  an xsdk issue - I was building dealii via spack and got this - so figured - I'd file it here.. (I don't really need a fix for this)

 dealii@9.2.0 build works:
`./bin/spack install --fail-fast dealii@9.2.0~sundials~ginkgo~symengine~nanoflann~simplex~arborx~trilinos~gmsh ^mpich ^netlib-lapack ^boost@1.76.0`

 However dealii@9.3.0 (default) build fails:
`./bin/spack install --fail-fast dealii~s

[2021-09-13 14:44] bangerth commented on #156
If I see this right, the error is this:
[code]

@peterrum @kronbichler Does this trigger any thoughts?

[2021-09-13 14:50] bangerth commented on #156
I think it is really a compiler bug because the missing `copy_to_mg()` function is defined as a template in the `.h` file. But we could work around this by explicitly instantiating it. (At least that's the case for the current dev version. I don't know whether the situation was a real bug in the 9.3 release. Anyone know?)

[2021-09-13 15:09] peterrum commented on #156
As far as I see it, it should be instantiated here: https://github.com/dealii/dealii/blob/26f3da826d4b28a9b8996bb745388ef16555e7e8/source/multigrid/mg_level_global_transfer.inst.in#L57-L62

[2021-09-13 15:16] kronbichler commented on #156
But this was fixed only after the 9.3.0 release with https://github.com/dealii/dealii/pull/12505, so you need 9.3.1 for making it succeed. We fixed this following #144.

[2021-09-13 15:34] balay commented on #156
Ah thanks! And I see `9.3.1` is the version scheduled for xsdk@0.7.0 anyway. Will give that a try!

[2021-09-13 16:44] balay commented on #156
9.3.1 builds for me!

I created a PR to add this version to spack

https://github.com/spack/spack/pull/25915

[2021-09-13 19:55] bangerth commented on #156
Yes, great. Thanks @balay for adding the patch to spack!

[2021-09-14 20:32] mkstoyanov commented on #123
I think this has been resolved.

[2021-09-14 20:32] #123 closed

[2021-09-27 14:50] #141 closed

[2021-10-07 17:19] balay opened #157 "trilinos failure with hypre (linux/gcc)"
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7305773/spack-build-out.txt)

[2021-10-07 17:22] jwillenbring commented on #157
Is this due to a Hypre interface change?

`'hypre_IntArray**' to 'HYPRE_Int**`

looks like something may have changed.

[2021-10-07 17:24] ulrikeyang commented on #157
Yes. That is the reason. I didn’t realize that Trilinos was getting into the hypre developer level as well.
How can we best resolve this?

From: James Willenbring ***@***.***>
Sent: Thursday, October 7, 2021 10:23 AM
To: xsdk-project/xsdk-issues ***@***.***>
Cc: Yang, Ulrike Meier ***@***.***>; Assign ***@***.***>
Subject: Re: [xsdk-project/xsdk-issues] trilinos failure with hypre (linux/gcc) (#15

[2021-10-07 17:26] keitat commented on #157
@jwillenbring It is from ifpack-hyper interface, a 1st generation (old C++) solver.   We treat the 1st gen solvers "maintenance" mode. What should we do?

[2021-10-07 17:28] ulrikeyang commented on #157
Is anybody still using this?

From: Keita Teranishi ***@***.***>
Sent: Thursday, October 7, 2021 10:27 AM
To: xsdk-project/xsdk-issues ***@***.***>
Cc: Yang, Ulrike Meier ***@***.***>; Assign ***@***.***>
Subject: Re: [xsdk-project/xsdk-issues] trilinos failure with hypre (linux/gcc) (#157)

It is from ifpack-hyper interface, 1st generation (old C++) solver.

—
You are receiving this because you w

[2021-10-07 18:16] cgcgcg commented on #157
I think that should be an easy fix on our end.

[2021-10-07 18:35] keitat commented on #157
@ulrikeyang  We still have some users.

[2021-10-07 18:40] keitat commented on #157
@cgcgcg Thank you for taking care of the fix.

[2021-10-07 18:54] balay commented on #157
I have the following change - that gets the compile going.
[don't know if its correct - and if it would  need some version checks to work with older hypre versions..]
[code]

[2021-10-07 18:58] keitat commented on #157
@cgcgcg  See Satish's suggestion.
@ulrikeyang Which version of Hyper has the new return type for hypre_IntArrayData(hypre_ParAMGDataCFMarkerArray?

[2021-10-07 20:54] balay opened #158 "mfem@4.3.0 build failure with hypre@2.23.0"
Just filing this issue with the build log
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7306898/spack-build-out.txt)

used the following change - for this build
[code]

[2021-10-07 22:00] balay opened #159 "alquimia@devel build error [with pflotran@devel]"
@smolins We are preparing for xsdk release - and having issues with building alquimia

Could you take a look at this?

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7307165/spack-build-out.txt)

Also with prior xsdk releases we've been using snapshots for pflotran and alquimia. If possible would be good to sync with actual releases.

cc: @ghammond86 @ulrikeyang

[2021-10-07 22:11] smolins commented on #159
Changes in pflotran have not been incorporated in Alquimia and are
currently not supported.  @ghammond86 <https://github.com/ghammond86> may
be able to summarize these changes and we can see whether it is feasible to
incorporate them as part of this release.

On Thu, Oct 7, 2021 at 3:00 PM Satish Balay ***@***.***>
wrote:

[2021-10-07 22:19] balay commented on #159
What version of pflotran does alquimia currently work with?

Note: petsc version here is 3.16.0 - so if the currently compatible versions (of pflotran, alquima) work  with this version - we can try use that. So far pfotran@devel did build fine [for the past few months]

[2021-10-07 22:21] balay commented on #159
BTW: so far we've been using snapshots - and giving the xsdk release names. For ex: pflotran@xsdk-0.6.0, alquimia@xsdk-0.6.0.

If would be good if we can update to using real versions in spack.

[2021-10-07 22:25] smolins commented on #159
What is the timeframe for this release?
I need to fix a couple of things with Alquimia in the near future.
Unfortunately, I have been swamped with other work and have not been able
to keep up. I can discuss with Glenn to see what he can do vs what I need
to do

On Thu, Oct 7, 2021 at 3:21 PM Satish Balay ***@***.***>
wrote:

[2021-10-07 22:34] balay commented on #159
The release schedule is at
https://docs.google.com/document/d/1ix_Ez5LCv-l2YuwCqFJMlC3sfuOKUBFcac3JSvIMy_E/

so - sooner the better - but hopefully by oct-15.

Sorry - I should have filed this issue earlier. For some reason we are not coordinating well on these 2 packages (wrt co-ordinated releases - and using snapshots instead of releases etc.).

cc:  @ghammond86

[Ah - don't know how to add Glen

[2021-10-08 02:06] balay opened #160 "datatransferkit@3.1-rc3 build failure on macos"
build log attached

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7307920/spack-build-out.txt)

[2021-10-08 14:12] masterleinad commented on #160
Hmmm... the missing symbols look like
[code]
and are thus coming from `Trilinos` not from `DataTransferKit` directly. Is there any chance that the build configuration for `Trilinos` is different on `macOS`?

[2021-10-08 14:24] balay commented on #160
I don't know if its different on the spack side.

Its the same on xsdk side.

Linux build:
[code]
MacOS build:
[code]

Adding trilinos [cmake] build logs here [for both]

[linux-spack-build-01-cmake-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7311976/linux-spack-build-01-cmake-out.txt)
[macos-spack-build-01-cmake-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7311985/mac

[2021-10-08 14:47] balay opened #161 "dealii@9.3.1 build failure on knl/intel-18"
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7312134/spack-build-out.txt)

cc: @marcfehling

[2021-10-08 15:46] masterleinad commented on #161
Yes, the `(FESystem<dim>(FE_Q<dim>(1) ^ dim))` doesn't work for (older) `Intel` compilers. Maybe, we should disable step-79 for `Intel`.

[2021-10-08 15:52] bangerth commented on #161
Let's just fix step-79 for now, that would be easier. @masterleinad -- do you want me to write a patch or would you like to?

[2021-10-08 15:56] masterleinad commented on #161
I can do that.

[2021-10-08 16:02] masterleinad commented on #161
See https://github.com/dealii/dealii/pull/12805.

[2021-10-08 16:28] marcfehling commented on #161
See also https://github.com/xsdk-project/xsdk-issues/issues/148#issuecomment-872382060.

Thank you @masterleinad :)

[2021-10-08 17:40] aprokop commented on #160
The failure is only on MacOS, but Linux is fine?

[2021-10-08 18:29] masterleinad commented on #161
@balay Can you check if https://github.com/dealii/dealii/tree/dealii-9.3 fixes all errors?

[2021-10-08 22:49] bangerth commented on #161
Thanks indeed!

[2021-10-09 22:12] v-dobrev commented on #158
This issue should be fixed here: https://github.com/spack/spack/pull/26640.

[2021-10-11 16:53] balay commented on #160
yes - the above linux log is from a successful build.

[2021-10-11 18:12] masterleinad commented on #160
Does datatransferkit@3.1-rc2 work instead?

[2021-10-11 18:34] balay commented on #158
Thanks! I have successful builds with it.

[2021-10-11 18:42] balay commented on #160
yes - datatransferkit@3.1-rc2 builds fine on macos

[2021-10-11 22:32] balay commented on #161
Yes - branch `dealii-9.3 ` builds fine for me on this box.

[2021-10-12 21:08] v-dobrev commented on #158
The Spack PR, https://github.com/spack/spack/pull/26640, is now merged.

[2021-10-12 21:30] #158 closed, assigned to v-dobrev, ulrikeyang

[2021-10-13 14:08] balay commented on #153
For now - I have https://github.com/spack/spack/pull/26709 to address this [automatically by spack]

[2021-10-14 17:46] masterleinad commented on #160
We are happy to take datatransferkit@3.1-rc2 for the release if that works better.

[2021-10-22 04:17] balay opened #162 "trilinos build fails when cuda is enabled with superlu-dist"
Ref:
[code]
`./bin/spack install --fail-fast -j24 xsdk@0.7.0+cuda cuda_arch=60 target=skylake_avx512  ^cuda@10.1.243 ^openblas@0.3.5 ^openmpi+cuda`

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7394214/spack-build-out.txt)

[2021-10-22 05:13] balay commented on #162
Ok - tried also enabling trilinos+cuda - but now get build error with phist

ref:
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7394416/spack-build-out.txt)

[2021-10-22 09:10] jthies commented on #162
to be honest I have never built phist with trilinos+cuda via spack. Is there an example of a package doing that? I would have to use the nvcc_wrapper included in Trilinos to compile phist, I think, right? But it's not a compiler supported by spack. So I would have to get it's path inside the phist/package.py and explicitly set the CMAKE_CXX_COMPILER. Then again, that one is already set to mpicxx..

[2021-10-22 09:42] jthies commented on #162
I found that the nalu-wind package seems to solve this by depends_on('kokkos-nvcc-wrapper'), but I wonder if this is the best way to do it, and how the integration with mpi works (which CMAKE_CXX_COMPILER I have to set).

[2021-10-22 14:12] balay opened #163 "dealii build error on linux/aarch64"
Ref:
spack install --fail-fast xsdk  ^dealii~threads ^pflotran fflags=-fallow-argument-mismatch

[code]
I got this error with the defaut (+threads) - so tried ~threads - and still get it.

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7398065/spack-build-out.txt)

[2021-10-22 14:33] masterleinad commented on #163
Looks like https://github.com/oneapi-src/oneTBB/issues/186 is related.
Also, the name of the `CMake` option has changed. I think we need something like
[code]

[2021-10-22 14:38] balay commented on #163
Thanks! will give this a try.

[2021-10-22 19:55] balay commented on #163
`xsdk ^dealii~threads ` install when through with the above patch

[2021-10-22 20:25] masterleinad commented on #163
See https://github.com/spack/spack/pull/26909.

[2021-10-23 01:09] balay commented on #162
Attempted a clean build with superlu_dist+cuda, trilinos+cuda - (with trilinos develop) and  get a dtk buid error now.
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7401999/spack-build-out.txt)

[2021-10-23 02:50] masterleinad commented on #162
https://github.com/kokkos/kokkos/issues/3561 is likely related. I don't think we actually support `Cuda` in `DTK`. Also, it's unexpected to not see a CUDA architecture flag in the compile lines.
Which `CUDA` architecture was activated in `Trilinos/Kokkos`?

[2021-10-23 04:04] balay commented on #162
Here is the build command
[code]

[2021-10-23 04:06] balay commented on #162
Sundials also fails with trilinos+cuda

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7402241/spack-build-out.txt)

[2021-10-23 08:42] jthies commented on #162
I think you should explicitly set cuda_arch, it defaults to 'none' otherwise. Maybe it would help to try to resolve this for one simple package first, I don't think there is any package in spack right now that will build with and use trilinos+cuda, right? So the Trilinos people could maybe provide an example package.py-file (@keitat). For phist I would need to know where the nvcc_wrapper script is

[2021-10-23 15:53] balay commented on #162
`cuda_arch=60` got set above

` I don't think there is any package in spack right now that will build with and use trilinos+cuda, right? `

yes. Dealii also failed similarly cc: @bangerth.

This started off with superlu_dist+cuda - and I tried trilinos+cuda to get that working. And that triggered dtk, sundials, phist and dealii failures.

Won't enable this for xsdk-0.7.0 - so hopefully we can reso

[2021-10-26 03:40] bangerth commented on #162
I have no experience with CUDA. Let me tag @masterleinad and @Rombur .

[2021-10-26 12:26] masterleinad commented on #162
For the `DTK` build, I'm surprised not to see `arch=sm_60` (this flag should be exported/used by `Trilinos`/`Kokkos` if building for `cuda_arch=60`). Also, we need to make sure that all flles containing `Kokkos` files need to be compiled with `nvcc_wrapper` (unless `clang` is used). I guess `mpicxx` is pointing to that.

[2021-10-26 12:38] Rombur commented on #162
I've never tried `dealii` with `trilinos+cuda`. You might need to use `dealii+cuda` but there is no guarantee it will work.

[2021-10-26 18:32] keitat commented on #162
@masterleinad Does DTK import Kokkos' make_config?

[2021-10-26 18:55] masterleinad commented on #162
It basically uses `Trilinos` as TPL using `TriBITS` and imports `KokkosConfig.cmake`, see https://github.com/ORNL-CEES/DataTransferKit/blob/691d5a1540f7cd42141a3b3d2a7c8370cbc3560a/CMakeLists.txt#L60-L88.

[2021-10-26 19:51] bartlettroscoe commented on #162
I suspect that updating the version of Trilinos with updated TriBITS will INTERFACE_COMPILER_OPTIONS through the targets now that PUBLIC was added to target_link_libraries() propagation.

Also, an updated version of TriBITS will be merged to 'master' and snapshoted to Trilinos 'develop' that will completely switch over to modern CMake targets but that should not be needed to propagate all of the I

[2021-10-28 18:41] keitat commented on #162
With the current version of TriBITS, we need a workaround to get nvcc_wrapper information.

[2021-11-02 14:57] luszczek opened #164 "dealii 9.3.2 package relocation overflow for POWER9 with GCC 8.3.1 with or without CUDA"
I get the message `relocation overflow try relinking with a smaller --stub-group-size` for the source and header files. Using CUDA makes no differenc
[spack-build-out_dealii.txt.gz](https://github.com/xsdk-project/xsdk-issues/files/7461675/spack-build-out_dealii.txt.gz)
e.

[2021-11-02 15:18] balay commented on #164
@luszczek
[code]
Perhaps summit admins have seen this error before - and know the appropriate `--stub-group-size` option to use here?

Presumably that can be used with something like:

`spack install xsdk ^dealii ldflags="-Wl,--stub-group-size=-1"`

[2021-11-02 15:32] bangerth commented on #164
Oh, I have no idea how to address this. @tamiko: Does cmake have ways to address this?

[2021-11-02 16:39] masterleinad commented on #164
Possibly, it's an issue with `ld.gold`(see https://sourceware.org/bugzilla/show_bug.cgi?id=20878). Can you try building with the `CMake` flag `DEAL_II_COMPILER_HAS_FUSE_LD_GOLD=OFF`?

[2021-11-03 15:49] balay commented on #161
@bangerth [following up here as we switched to using  https://github.com/dealii/dealii/tree/dealii-9.3 here]

Currently I'm using https://github.com/spack/spack/commit/1fc589f85dc5e160068da9ba891c31fc40ad5056 in place for 9.3.2

Perhaps its a good time to tag and release 9.3.2? [so that its usable from xsdk-0.7.0 release?]

The outstanding issue so far is https://github.com/xsdk-project/xsdk-issue

[2021-11-03 19:35] bangerth commented on #161
@balay We've been talking about including a couple more patches into 9.3.2, but I have to admit that I'm not entirely up to date. @tamiko and @kronbichler have been doing the release planning lately, and I'd have to let them speak about whether it's a good time to tag the release.

[2021-11-03 21:51] luszczek commented on #164
After building with `DEAL_II_COMPILER_HAS_FUSE_LD_GOLD=OFF` I get new relocation message: `relocation truncated to fit: R_PPC64_REL24 (stub) against symbol ...` I wonder if it is related to a specific build of the linker on POWER9 Linux
[spack-build-out_dealii.txt.gz](https://github.com/xsdk-project/xsdk-issues/files/7470859/spack-build-out_dealii.txt.gz)

[2021-11-08 11:38] jthies commented on #162
@balay could you try it again now with phist@develop?
I added the corresponding patch to spack in this PR: https://github.com/spack/spack/pull/27278

[2021-11-08 19:45] balos1 commented on #142
Fixed in sundials 5.8.0.

[2021-11-08 19:45] #142 closed

[2021-11-08 23:40] balay commented on #162
I retried this build with ` phist@develop` (and trilinos+cuda) and this builds fine for me.

`./bin/spack install -j24 xsdk+cuda target=skylake_avx512 cuda_arch=60 ^cuda@10.1.243 ^openmpi ^hwloc@2.5.0`

[code]

[2021-11-09 04:04] balay commented on #162
BTW: when I switch from cuda@10.1.243 tocuda@11.2.0 [also switch from gcc-7.4.0 to gcc-9.2.0 - with this change] - `trilinos+cuda` build breaks (when` superlu-dist+cuda` is enabled)

`./bin/spack install -j24 xsdk+cuda target=skylake_avx512 cuda_arch=70 ^cuda@11.2.0 ^openmpi`

[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7501843/spack-build-out.txt)

[2021-11-11 22:14] balay opened #165 "slate build error with intel@18 on knl."
Attempting to enable strumpack+cuda - for this - attempted to remove slate restriction to 'when =%gcc@6.0'

this gives a build error with intel@18

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/7523564/spack-build-out.txt)

ref: https://github.com/spack/spack/commit/b4a53791cd169b3829d4b1de8fece5aff08bfc0a

[2021-11-12 00:50] pghysels commented on #165
This
https://www.intel.com/content/www/us/en/developer/articles/news/c17-features-supported-by-c-compiler.html
shows that Intel@18 is missing several c++17 features.
I think you would need at least Intel@19.1.0, or an older version of libstdc++?
But there is a
`conflicts('%intel@19:', msg='Does not currently build with icpc >= 2019')`
in slate's spack.
Probably the best solution would be to figure

[2021-11-12 02:32] mgates3 commented on #165
I think the last release of SLATE probably doesn't work with icpc. We've fixed some issues, but I haven't really tested with icpc to see if it works. We have been testing with Cray compilers on Spock. We'll work on it, but don't expected fixes for the xSDK release.

[2021-12-10 23:55] PhilMiller commented on #132
Not working with deal.ii, but GOogle led me here for the same problem, and switching away from gold to ld as suggested worked for me.

[2021-12-12 05:39] marcfehling commented on #161
[deal.II 9.3.2](https://github.com/dealii/dealii/releases/tag/v9.3.2) has been released on Nov 8. @balay -- would you give that version a try?

[2021-12-15 17:18] tamiko commented on #164
The deal.II build system should pick up `LDFLAGS` environment variables automatically. Alternatively, one can set linker flags via `-DDEAL_II_LINKER_FLAGS="..."`. In order to switch between ld.gold and ld.bdf one can do pretty much what @masterleinad suggested.

@luszczek Did you try setting a different stubs size?

[2021-12-15 17:29] balay commented on #161
yes - we tested (builds)  and used this version with xsdk@0.7.0

[code]

[2021-12-15 17:30] #161 closed, assigned to bangerth

[2022-01-17 00:10] balay opened #166 "superlu_dist@develop build error in CI"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1979772515

[code]

[2022-01-18 19:51] xiaoyeli commented on #166
Fixed.  @balay

[2022-01-18 20:32] balay commented on #166
@xiaoyeli thanks! The CI job now completes without errors.

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/1988440501

[2022-01-18 20:32] #166 closed

[2022-06-22 18:02] balay opened #167 "superlu-dist@develop failure with intel@19.1.1.217"
ref: ./bin/spack install --fail-fast -j16 xsdk@develop ^netlib-lapack

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/8960291/spack-build-out.txt)

[code]

[2022-06-22 18:06] balay opened #168 "trilinos@develop failure (with superlu_dist) on %gcc@9.2.0"
ref: ./bin/spack install --fail-fast -j16 xsdk@develop%gcc@9.2.0 ^netlib-lapack@3.9.1
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/8960321/spack-build-out.txt)

[2022-06-22 18:23] balay opened #169 "sundials@develop failure with superlu-dist"
ref : /bin/spack install --fail-fast -j16 xsdk@develop%gcc@9.2.0~trilinos ^netlib-lapack@3.9.1

[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/8960406/spack-build-out.txt)

[2022-06-22 18:33] liuyangzhuan commented on #168
Hi, @xiaoyeli, the problem is due to this commit [2c81a22ef7ace420664c4de3896e38394ca97826](https://github.com/xiaoyeli/superlu_dist/commit/2c81a22ef7ace420664c4de3896e38394ca97826)
, which changes the APIs of many routines, apparently trillinos uses SuperLU's internal functions. Not sure if we should ask trillinos to update the interface, as these changes have not been reflected in any superlu re

[2022-06-22 20:20] keitat commented on #168
@liuyangzhuan  Is it official change in the new version (8.0.0)?  We have had a few changes in Amesos2 source  (Trilinos' sparse direct solvers packages) for the last version of SuperLU_DIST.   `pdgstrs` will be used in Amesos2 independently so that we can separate factorization and triangular solution steps.  As you may know, some applications need many triangular solve calls with the same coeffi

[2022-06-22 20:22] keitat commented on #168
@jwillenbring Should I talk to Amesos2 developers to add another `#ifdef` blocks for the new SuperLU_DIST?

[2022-06-22 20:25] liuyangzhuan commented on #168
Sorry I was wrong saying the new interface is not in released versions. Indeed, it's changed since 8.0.0.

[2022-06-22 20:26] liuyangzhuan commented on #167
To tackle this, could you let me know what's the last release of superlu that doesn't have this problem?

[2022-06-22 20:58] liuyangzhuan commented on #167
@xiaoyeli For intel compilers, changing LINKER_LANGUAGE CXX to LINKER_LANGUAGE Fortran in FORTRAN/CMakeLists.txt fixes the problem. But I see from the history of FORTRAN/CMakeLists.txt that CXX is used since https://github.com/xiaoyeli/superlu_dist/commit/41fda93e568b5ba33f48647263e06db9c81af4ab. Any thought?

[2022-06-22 21:37] jwillenbring commented on #168
@keitat I think that would be a good approach.

[2022-06-23 01:50] balay commented on #167
Perhaps the build of superlu_dist should not include tests/examples? And that part should be split into 'check()` and/or `test()` sections of spack?

[2022-06-23 01:56] balay commented on #167
- 7.2.0 does not give this error.
- 8.0.0 [thats not yet in spack] does give this error.

[2022-06-23 02:45] balay opened #170 "alquimia@develop build failure"
ref: ./bin/spack install --fail-fast -j16 xsdk@develop%gcc@9.2.0~trilinos

[with sundials, plasma commented out]

[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/8963193/spack-build-out.txt)

cc: @smolins

[2022-06-23 03:07] balay opened #171 "plasma@develop build failure"
ref: ./bin/spack install --fail-fast -j16 xsdk@develop%gcc@9.2.0~trilinos

[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/8963324/spack-build-out.txt)

[2022-06-23 05:35] liuyangzhuan commented on #167
Thanks Satish. @xiaoyeli It seems to due to this commit https://github.com/xiaoyeli/superlu_dist/commit/1a10791dfbde59fd3a9747ae828142bfb9ce7dff
which turns on the building of Fortran example drivers. This seems to be an old/existing issue as FORTRAN/CMakeLists.txt has undergone a few iterations.

[2022-06-26 19:57] xiaoyeli commented on #168
@keitat @jwillenbring  It's a good idea to update Amesos2 to version 8.0.
A lot of routines added the input "options" argument, for flexible parameter settings.
The new features and parameters are summarized in this users' guide:
https://portal.nersc.gov/project/sparse/superlu/toms_release.pdf

Version 8.0 release note is here:
https://github.com/xiaoyeli/superlu_dist/releases/tag/v8.0.0

[2022-06-27 21:57] keitat commented on #168
@xiaoyeli @balay @jwillenbring

The change in Amesos2 is currently in PR.  https://github.com/trilinos/Trilinos/pull/10673

During this activity, I found that the header comments (describing the API usage) for the individual functions in SuperLU_DIST 8.0.0 have not been updated.  It's not urgent, but the users will appreciate to have a new version.

For example:

[code]

[2022-06-27 22:01] xiaoyeli commented on #168
@keitat  Thanks!  I'll update the leading comments soon.

[2022-06-29 17:12] balos1 commented on #169
https://github.com/LLNL/sundials/issues/169

[2022-06-30 21:00] xiaoyeli commented on #167
@balay  Can you please try the latest master of superlu_dist? For Fortran program, now we use Fortran as linker language.
cc: @liuyangzhuan

[2022-07-06 01:36] xiaoyeli commented on #168
@keitat  I have updated the leading comments of various routines. These are in the new release 8.1.0.  There are no interface changes compared to 8.0.0

[2022-07-08 03:20] balay commented on #167
I've retried this build and it works now. Thanks!

Note to self:
[code]
[code]
[code]
Current failed builds:
[code]

[2022-07-08 03:22] balay commented on #168
Just a note - these errors persist. add the current build log here.
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9068691/spack-build-out.txt)

[2022-07-11 16:58] keitat commented on #168
The code change in Trilinos has been merged to the develop branch.

https://github.com/trilinos/Trilinos/pull/10673

[2022-07-17 14:04] luszczek commented on #171
It seems it was a build out of the repo so it needs to run `tools/generate_precisions.py` first before running CMake.

[2022-07-20 18:23] luszczek commented on #171
Submitted upstream: https://github.com/spack/spack/pull/31668

[2022-09-01 17:53] balos1 opened #172 "sundials@develop failure with magma"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/2964998166

The issue is that magma@master uses FindCUDAToolkit, which results in targets such as `CUDA::cubart` to show up in the `$MAGMA_LIBRARIES` variable in SUNDIALS' cmake. The fix is for SUNDIALS to load FindCUDAToolkit when using newer magma.

[2022-09-01 17:55] #104 closed

[2022-09-01 17:55] #120 closed

[2022-09-01 17:55] #121 closed

[2022-09-01 17:55] #126 closed

[2022-09-01 17:55] #129 closed

[2022-09-01 17:55] #132 closed

[2022-09-01 17:55] #135 closed

[2022-09-01 17:55] #151 closed

[2022-09-01 17:55] #154 closed

[2022-09-01 17:55] #157 closed

[2022-09-01 17:55] #159 closed

[2022-09-01 17:55] #160 closed

[2022-09-01 17:55] #162 closed

[2022-09-01 17:55] #163 closed

[2022-09-01 17:55] #164 closed

[2022-09-01 17:55] #40 closed

[2022-09-01 17:55] #41 closed

[2022-09-01 17:55] #42 closed

[2022-09-01 17:55] #43 closed

[2022-09-01 17:55] #46 closed

[2022-09-01 17:55] #50 closed

[2022-09-01 17:55] #52 closed

[2022-09-01 17:55] #57 closed

[2022-09-01 17:55] #63 closed

[2022-09-01 17:55] #64 closed

[2022-09-01 18:04] #47 closed

[2022-09-01 18:04] #55 closed

[2022-09-01 18:04] #56 closed

[2022-09-01 18:04] #59 closed

[2022-09-01 18:04] #60 closed

[2022-09-01 18:04] #66 closed

[2022-09-01 18:04] #85 closed

[2022-09-01 18:04] #87 closed

[2022-09-01 18:04] #94 closed

[2022-09-01 18:04] #95 closed

[2022-09-01 18:04] #96 closed

[2022-09-01 18:04] #97 closed

[2022-09-01 18:04] #98 closed

[2022-09-01 18:04] #99 closed

[2022-09-01 18:04] #100 closed

[2022-09-01 18:04] #101 closed

[2022-09-01 18:04] #3 closed

[2022-09-01 18:04] #4 closed

[2022-09-01 18:04] #5 closed

[2022-09-01 18:04] #6 closed

[2022-09-01 18:04] #7 closed

[2022-09-01 18:04] #8 closed

[2022-09-01 18:04] #13 closed

[2022-09-01 18:04] #45 closed

[2022-09-01 18:35] balos1 opened #173 "mfem@develop does not build with sundials@develop"
Will be fixed with https://github.com/mfem/mfem/pull/3170. This is not currently causing a build failure as the xsdk CI is using sundials@5.8.0 instead.

[2022-09-01 18:42] balos1 commented on #156
This looks like it has been resolved, so closing it. Feel free to reopen if needed.

[2022-09-01 18:42] #156 closed

[2022-09-29 14:52] balay opened #174 "slate-2022.07.00 build failure with lapack/device.hh"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675750/spack-build-out.txt)

ref: xsdk@utk:  `./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.6.0 ^openmpi`

[2022-09-29 14:58] balay opened #175 "datatransferkit-3.1-rc3 build failure"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675803/spack-build-out.txt)

ref: xsdk@utk: ./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.6.0 ^openmpi

[2022-09-29 15:02] balay opened #176 "phist-1.10.0 build failure -> trilinos -> hypre?"
[code]
~[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675827/spack-build-out.txt)~
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675893/spack-build-out.txt)

ref: xsdk@utk: `./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.6.0 ^openmpi`

[2022-09-29 15:05] balay opened #177 "sundials-6.4.0 build error -> trilinos?"
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675880/spack-build-out.txt)

ref: xsdk@utk: ./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.6.0 ^openmpi

[2022-09-29 15:09] balay opened #178 "dealii-9.4.0 build error -> trilinos?"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9675913/spack-build-out.txt)

ref: xsdk@utk: ./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.6.0 ^openmpi

[2022-09-29 15:50] balay opened #179 "hypre-2.26.0 build error in CI"
[code]
ref: https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3102857094

$ nice ./bin/spack install -j24 xsdk@0.8.0+cuda cuda_arch=70 ^cuda@11.2.0 ^openmpi

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9676264/spack-build-out.txt)

[2022-09-29 15:52] victorapm commented on #179
@ulrikeyang I can take a look at this

[2022-09-29 15:53] balay commented on #179
Ah - I suspect this is due to `cuda@11.2.0`.

I have a different build with `cuda@11.6.0` and that went through fine.

[code]

So if there is a real dependency on  newer cuda versions - perhaps there needs to be checks in configure - and spack...

[2022-09-29 15:58] victorapm commented on #179
Thanks @balay! I also have other working builds with `cuda > 11.2.0`. We do have an internal check in hypre for enabling those macros, but it seems that the minimum cuda version we are using is wrong, see

https://github.com/hypre-space/hypre/blob/8dc524e8a17a549575f59a5147602ed89a6c59e3/src/seq_mv/csr_matvec_device.c#L20

and

https://github.com/hypre-space/hypre/blob/8dc524e8a17a549575f59a514760

[2022-09-29 16:05] bangerth commented on #178
@tamiko Can you help?

[2022-09-29 16:07] bangerth commented on #178
@balay  Do you still have the two files listed at the bottom,
[code]
?

[2022-09-29 16:11] balay commented on #178
[CMakeError.log](https://github.com/xsdk-project/xsdk-issues/files/9676444/CMakeError.log)
[CMakeOutput.log](https://github.com/xsdk-project/xsdk-issues/files/9676445/CMakeOutput.log)

Note: this is with trilinos master branch - [i.e upcoming 14.0.0 release]

[2022-09-29 16:23] balay opened #180 "butterflypack-2.2.0 build failure with intel-19 in CI"
[code]
etc..

ref: https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3102857097

$ nice ./bin/spack install -j24 xsdk@0.8.0 %intel@19.1.1.217 ^netlib-lapack

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9676872/spack-build-out.txt)

[2022-09-29 16:59] liuyangzhuan commented on #180
@balay I don't see this when using gcc compilers. Does spack install butterflypack@2.1.1%intel@19.1.1.217 ^netlib-lapack work?

[2022-09-29 17:29] mgates3 commented on #174
@G-Ragghianti We need the updated Spack packages for SLATE, BLAS++, and LAPACK++ for xSDK to use. SLATE 2022.07 depends on BLAS++ 2022.07 and LAPACK++ 2022.07.

[2022-09-29 17:40] G-Ragghianti commented on #174
https://github.com/spack/spack/pull/32907

[2022-09-29 18:32] liuyangzhuan commented on #180
@balay this is due to a recent commit that somehow fails the detection of intel compilers in cmake, I'm packing a v2.2.1 to fix this. Can you approve this?
https://github.com/spack/spack/pull/32908
I will also udpate the xsdk sheet with v2.2.1

[2022-09-29 19:13] balay commented on #180
Yes.
[code]

[2022-09-29 19:58] balay commented on #179
on my end - I'm switching my testing to use 11.6.0 [testing the newer cuda version makes sense for the newer xsdk release anyway]

[2022-09-29 20:54] balay commented on #180
butterflypack@2.2.1 build now goes through with  intel@19.1.1.217

[code]

[2022-09-29 21:04] balay commented on #174
Thanks! The build does go through with the changes in the above PR

[2022-09-29 22:26] liuyangzhuan commented on #180
Thank you!

[2022-09-30 05:32] tamiko commented on #178
Trilinos switched to a new import target layout for the upcoming 14.0.0 release that deal.II currently doesn't support. I hope to get around fixing this within the next couple of weeks.

[2022-09-30 15:14] balay commented on #180
@liuyangzhuan I'm seeing a couple of failures with butterflypack@2.2.1 [filing them here - instead of opening a new issue]

- linux-ubuntu20.04-skylake / oneapi@2022.2.0

[code]
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3108965159

[spack-build-out(3).txt](https://github.com/xsdk-project/xsdk-issues/files/9685670/spack-build-out.3.txt)

- darwin-catalina-skylake / apple-clang@12.0.0

[code

[2022-09-30 15:36] balay opened #181 "hiop-0.6.2 build failure on Mac"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3108965071

[code]

[spack-build-out(6).txt](https://github.com/xsdk-project/xsdk-issues/files/9685872/spack-build-out.6.txt)

BTW: I'm not sure if this is the release to use for xsdk@0.8.0 - or something newer..

[2022-09-30 15:41] balay opened #182 "trilinos-14.0.0 build error on MacOS -> hypre"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3108965071

[code]

[spack-build-out(8).txt](https://github.com/xsdk-project/xsdk-issues/files/9685907/spack-build-out.8.txt)

[2022-09-30 15:41] cnpetra commented on #181
@balay can you please also assign @CameronRutherford ?

We'll take a look. That is a good release. We release HiOp 0.7.0 today and should use it with the latest xsdk release.

[2022-09-30 15:49] balay commented on #181
Ok - will update to testing with 0.7.0

github only allows 'project members' to be assignees :( .

I guess I should add  @CameronRutherford to xsdk project.

[2022-09-30 18:29] cameronrutherford commented on #181
https://github.com/LLNL/hiop/blob/develop/CMakeLists.txt#L184 - the logic for including OpenMP is probably flawed here. I imagine that we should instead check to see if we are using RAJA, and if the exported RAJA configuration includes the RAJA OpenMP target, and then run `find_package(OpenMP)` based on that.

See https://github.com/LLNL/camp/issues/110#issuecomment-1238620247 for some more discus

[2022-09-30 18:53] balos1 commented on #169
This should be fixed in sundials@develop. I am re-enabling it in the CI.

[2022-09-30 22:44] balos1 commented on #169
Confirmed this is passing now https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/655605876

[2022-09-30 22:44] #169 closed

[2022-09-30 23:18] liuyangzhuan commented on #180
@balay I tried oneapi on jlse and I don't see any error. Note that I'm using the following for
	-DTPL_BLAS_LIBRARIES="$MKLROOT/lib/intel64/libmkl_intel_lp64.so;$MKLROOT/lib/intel64/libmkl_sequential.so;$MKLROOT/lib/intel64/libmkl_core.so" \
-DTPL_LAPACK_LIBRARIES="$MKLROOT/lib/intel64/libmkl_intel_lp64.so;$MKLROOT/lib/intel64/libmkl_sequential.so;$MK
LROOT/lib/intel64/libmkl_core.so" \

But from y

[2022-10-03 20:06] victorapm commented on #179
@balay, FYI, the fix has been merged into hypre's `master`

[2022-10-03 20:27] masterleinad commented on #175
Where can I find the branch the `spack` clone branch you are using for testing?

[2022-10-04 20:00] balos1 commented on #172
Fixed by LLNL/sundials#202.

[2022-10-05 04:18] liuyangzhuan commented on #180
@balay I haven't got any feedback on this. Have you tried to remove libpthread and libdl?

[2022-10-06 15:14] masterleinad commented on #175
@balay Would you mind checking if https://github.com/ORNL-CEES/DataTransferKit/pull/603 fixes the problem for you?

[2022-10-07 15:54] balos1 commented on #177
@jwillenbring Is Trilinos for sure going with v14 for xSDK? Also, do you know what the status of Kokkos 4.0 is?

[2022-10-07 17:20] masterleinad commented on #177
We are trying to create a release candidate for the Kokkos 4.0 release within the next few weeks.

[2022-10-10 14:05] jwillenbring commented on #177
@balos1 Trilinos is not for sure goign with v14 for xSDK. There are some serious blockers for that release that remain. That said, I thought some other xSDK packages were in a place where they needed at least the master branch version of Trilinos for the next release, so I thought we couldn't go back to the previous releases due to some interface changes.

[2022-10-10 14:13] masterleinad commented on #177
Not updating would certainly help `DataTransferKit` in #175.

[2022-10-10 15:39] balos1 commented on #177
@jwillenbring SUNDIALS breaks with trilinos@master. I believe the updated interface from Trilinos to SuperLU_DIST v8 is what you are remembering w.r.t. some packages needing changes in the Trilinos master branch. Not updating to v14 right now would be much better for SUNDIALS.

[2022-10-10 18:59] jwillenbring commented on #182
Was this known to work previously? Has anything changed related to these symbols in Hypre?

[2022-10-10 18:59] jwillenbring commented on #177
So perhaps we should look at using the old release, but backporting the support for SuperLU_DIST 8?

[2022-10-10 19:01] balay commented on #177
I'll switch over to `trilinos@13.4.0` and see how that goes.

[2022-10-11 00:23] ulrikeyang commented on #182
I am including Daniel here, so he can answer or communicate regarding this.

From: James Willenbring ***@***.***>
Sent: Monday, October 10, 2022 12:59 PM
To: xsdk-project/xsdk-issues ***@***.***>
Cc: Yang, Ulrike Meier ***@***.***>; Assign ***@***.***>
Subject: Re: [xsdk-project/xsdk-issues] trilinos-14.0.0 build error on MacOS -> hypre (Issue #182)

Was this known to work previously? Has anything

[2022-10-11 07:12] ulrikeyang commented on #182
Hi Jim,
I took a look and it appears those symbols were prototypes that were either removed or renamed in hypre a while back. It has been in there for sometime, so I am surprised it is just showing up now. In any case, I have cleaned these up in a recent commit to master (PR #745<https://github.com/hypre-space/hypre/pull/745>). Hopefully that fixes the issue encountered by trilinos.

-Daniel

Dani

[2022-10-11 08:21] smolins commented on #170
What version of pflotran is being used for this?
Thanks

@balay

On Wed, Jun 22, 2022 at 7:45 PM Satish Balay ***@***.***>
wrote:

[2022-10-11 13:34] jwillenbring commented on #177
@balay

I put up a PR that would add the SuperLU_DIST 8 support to the 13.4 release branch. It might be worth pullling in the associated branch and seeing if that looks better than the current release branch, depending on what you run into.

PR: https://github.com/trilinos/Trilinos/pull/11134

Branch: jwillenbring:trilinos-13-4-superlu-dist-8-patch

[2022-10-12 15:31] balay commented on #170
@smolins , updating this issue to whats' currently observed.

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161006120
[code]

This is `alquimia@1.0.10`  with `pflotran@4.0.1`

cc: @ghammond86

[2022-10-12 15:46] balay opened #183 "dealii-9.4.0 failure with cgal"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161006120
[code]
I also see this with dealii@develop build - looks like this was added recently by @balos1

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161230241

No such issue with xsdk@0.7.0

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/664725820

Will try using `dealii~cgal` for now

[2022-10-12 16:00] balay opened #184 "strumpack-7.0.0 build failure with intel-19"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161006152
[code]
[spack-build-out(3).txt](https://github.com/xsdk-project/xsdk-issues/files/9766706/spack-build-out.3.txt)

[2022-10-12 16:02] balay commented on #180
@liuyangzhuan my build is via spack - so I'm not sure how that can be done.

BTW: I think different version of Intel compilers behave differently :(

For this - I can work-around by switching just butterflypack to gcc  in CI [and keep the remaining xsdk pkgs on intel compiler]. But would be good if the intel build works..

BTW: Latest failure at

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3

[2022-10-12 18:54] pghysels commented on #184
Can you try 7.0.1, which I just created?

STRUMPACK 7.0.0 was requesting C++17, but C++14 should be enough. (some code requiring C++17 was removed again)
The problem seems to be gone when using C++14.

This seems like a known incompatibility between newer gcc headers and the intel compiler, see for instance:
- https://github.com/xtensor-stack/xtensor/issues/2191
- https://bitbucket.org/berkeleylab

[2022-10-12 19:44] balay commented on #170
Ah..

Its an issue with spack spec change I had  for  alquimia@1.0.10.

Its fixed now and the build goes through [at-least on this  one test box]

[2022-10-12 20:05] balay commented on #184
Thanks! The build with intel-19 goes through now with 7.0.1

With more pkgs starting to require cxx-17 - I think we'll also have to migrate to newer Intel compilers for xsdk CI in the near future..

[2022-10-12 20:59] balay commented on #178
Due to build issues with various trilinos dependent pkgs (wiht 14.0.0)  - we are trying out trilinos@13.4.0 - as per https://github.com/xsdk-project/xsdk-issues/issues/177 - so that should resolve this dealii issue as well.

[2022-10-12 22:03] balay opened #185 "exago dependency on petsc-3.16"
Currently xsdk-0.8.0 is with petsc-3.18.0. [and exago-1.4.1]

However exago has:

[code]
Is it possible to provide exago release compatible with petsc-3.18.0?

[code]

[2022-10-13 01:44] cameronrutherford commented on #185
Asher has left PNNL so no need to give him more emails.

I have created an ExaGO issue to track this, and I still owe you an update to #181. @abhyshr this should be easy enough given Petsc API doesn't change too much over time.

[2022-10-13 03:05] abhyshr commented on #185
@balay by when do you want this done?

[2022-10-13 04:58] balay commented on #185
@abhyshr Perhaps its a simple fix - a patch file would be sufficient - so that we can continue with xsdk testing.

[2022-10-13 05:14] balay commented on #180
@liuyangzhuan I see MacOS failure with butterflypack

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161006279

[code]
[spack-build-out(4).txt](https://github.com/xsdk-project/xsdk-issues/files/9770992/spack-build-out.4.txt)

[2022-10-13 17:47] balay commented on #175
Sorry - missed follow up on this issue.

With the switch to trilinos@13.4.0 - the issues are now different.

There is a macos failure

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3165942118

[spack-build-out(6).txt](https://github.com/xsdk-project/xsdk-issues/files/9779280/spack-build-out.6.txt)

[2022-10-13 17:47] balay commented on #175
https://gitlab.com/xsdk-project/spack-xsdk branch `xsdk`

[2022-10-13 17:56] balay opened #186 "dealii failure with oneapi@2022.2.0"
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3165942119

The build just hangs [i see clang processes running for ever]

Notice: `Duration: 738 minutes 30 seconds `

I tried:
[code]
and get (but no build errors):
[code]

So I'm not sure why this is failing.

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9779337/spack-build-out.txt)

[2022-10-13 18:21] balos1 commented on #177
This seems to no longer be an issue with Trilinos going back to 13.4.0. Closing, but we can reopen or open a new issue if it does persist.

[2022-10-13 18:21] #177 closed

[2022-10-13 18:26] balos1 commented on #173
Testing again now that mfem/mfem#3170 is merged. See https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/666264944.

[2022-10-13 18:33] masterleinad commented on #175
This shouldn't be a problem anymore with `Trilinos` going back to 13.4. We can reopen if there is still an issue.

[2022-10-13 18:42] v-dobrev commented on #173
Currently, `mfem` has `~sundials` variant in https://gitlab.com/xsdk-project/spack-xsdk/-/tree/xsdk. I'll update that in a moment. I may also need to update the `mfem` package to allow the newer `sundials` versions.

[2022-10-13 18:45] masterleinad commented on #175
[code]

[2022-10-13 18:47] balos1 commented on #173
@v-dobrev I have done it now https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/666277653.

[2022-10-13 19:37] mgates3 commented on #174
Can this issue be closed?

[2022-10-13 19:41] #174 closed

[2022-10-14 03:20] bangerth commented on #186
Unrelated, but the warning
[code]
is a bit funny...

[2022-10-14 03:23] bangerth commented on #186
The error I see is this one:
[code]
I don't know for sure, but this may be a compiler (invoked many times in parallel by `ninja`) running out of memory.

Is the error reproducible?

[2022-10-14 03:28] bangerth commented on #183
@tamiko @luca-heltai: Can you help?

[2022-10-14 05:52] balay commented on #186
Ah thanks! Somehow missed  that message. I swtched from -j12 to -j6 - and the build progresses. But i get errors with `intel-tbb`

It might be related to the fact that I used gcc for intel-tbb [as its build fails with intel-oneapi compilers - and its picking up intel-tbb@2020.3 for gcc build - instead of the latest 2021.5.0].
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues

[2022-10-14 06:11] balay commented on #186
Ah - intel-tbb defaults to `2021.5.0` in spack.  And I see `2021.7.0` is now available . Ok  that does build with `oneapi@2022.2.0`

Will see if dealii build goes through with it.

[2022-10-14 07:51] balay commented on #186
Ah - intel-tbb defaults to `2021.5.0` in spack.  And I see `2021.7.0` is now available .

Ok  that does build with `oneapi@2022.2.0` and dealii build goes through with it

[code]

[2022-10-14 21:32] balos1 commented on #173
Passing now https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/667123763

[2022-10-14 21:32] #173 closed

[2022-10-14 21:39] balos1 commented on #171
This seems to be working now with the patch, so I am closing.

[2022-10-14 21:39] #171 closed

[2022-10-14 21:40] balos1 commented on #179
Passing here: https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3175131930

[2022-10-14 21:40] #179 closed

[2022-10-14 21:41] balos1 commented on #184
Based on the comment above from @balay, this seems to be fixed, so I am closing. Reopen if it persists.

[2022-10-14 21:41] #184 closed

[2022-10-14 21:43] balos1 commented on #183
deall@9.4.0 is building with `~cgal` https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3175131930#L779

[2022-10-14 21:45] balos1 commented on #178
This is building with trilinos@13.4.0, so I am closing https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3175131930#L827.

[2022-10-14 21:45] #178 closed

[2022-10-15 04:29] pghysels opened #187 "HIOP required submodule was not downloaded!"
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9791169/spack-build-out.txt)

[2022-10-15 04:31] pghysels opened #188 "PETSc "Line truncated " on Perlmutter"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9791170/spack-build-out.txt)

[2022-10-15 04:32] pghysels opened #189 "Phist cannot find lapack.h on Perlmutter, using cray-libsci"
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9791173/spack-build-out.txt)

[2022-10-15 04:33] pghysels opened #190 "PLASMA cannot find CBLAS on Perlmutter, using cray-libsci"
[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9791175/spack-build-out.txt)

[2022-10-15 04:45] pghysels commented on #187
This might be a simple spack issue

[2022-10-15 05:16] balay commented on #188
@pghysels can you post configure.log from this petsc build.

This issue occurs if FFLAGS option gets set - but I don't se this with my normal petsc installs via spack.

Alternative:

[code]

[2022-10-15 06:37] pghysels commented on #188
[configure.log](https://github.com/xsdk-project/xsdk-issues/files/9791324/configure.log)

[2022-10-15 08:01] luca-heltai commented on #183
The error states this: `CGAL wrappers require C++17. Disabling CGAL Support.`. This implies that deal.II +cgal is not automatically setting c++17.  For compilers that do not set C++17 by default, you need to specify also `cxxstd=17` when setting cgal. I had put this by default in the package when `dealii +cgal` was called, but JP asked me to remove it.

Could you try seeing if `dealii +cgal cxxstd

[2022-10-15 08:05] luca-heltai commented on #183
Also, @tamiko, can you remind me again why we do not set the standard to the highest possible by default in deal.II? This behaviour changed at some point, but I don't recall why...

[2022-10-15 14:44] liuyangzhuan commented on #180
Hi, @balay Sorry for the delay on this. I made a few corrections:
(1) Now if you pass cmake with -Denable_openmp=OFF, the linking issues regarding omp should be gone for intel compilers, that will cover
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3108965159
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3161006323

(2) The error ""/Users/xsdk/builds/cYLkqamb/0/xsdk-project/spack-xsdk/spac

[2022-10-15 18:52] jthies commented on #189
Hi @pghysels, I don't have access to a Cray for trying this out -- could you send me the lapack.h and/or lapacke.h files (or whatever they call them)? I recently fixed a couple of lapack-related issues and added a patch in spack, is this build error something that sneaked in now, or was it the first time you tried to build phist on this system/with these libraries?
Thanks,
Jonas

[2022-10-15 19:16] pghysels commented on #189
Cray-libsci does not provide lapack.h, but it does have lapacke.h.
Openblas has both lapack.h and lapacke.h, but lapacke.h includes lapack.h. So I think you are supposed to include lapacke.h.

The netlib reference implementation refers only to lapacke.h https://netlib.org/lapack/lapacke.html

[2022-10-15 22:43] cnpetra commented on #187
this came under our radar recently and are working on it

[2022-10-16 04:31] v-dobrev commented on #180
Just FYI, building `butterflypack@master` with gcc 6.3.1 is failing for me with errors like this:
[code]
Is there a minimal version of gcc that is required?

[2022-10-16 07:07] liuyangzhuan commented on #180
@v-dobrev Yes, I think the gcc version should be at least gcc7, we have seen this before
https://github.com/xsdk-project/xsdk-issues/issues/127

Maybe I should add a minimum gcc version requirement in spack

[2022-10-16 10:46] jthies commented on #189
I re-opened an issue [here](https://bitbucket.org/essex/phist/issues/245/does-not-compile-with-reference-lapack-391) to address this. Unfortunately I previously found the lapacke.h header to be incomplete both in Intel MKL and OpenBLAS, so I'm afraid there may not be a quick fix. It would help to have the blas and lapack header files provided by libsci.

[2022-10-17 02:51] v-dobrev commented on #180
Ah, I see, thanks! I didn't see that issue.

Good idea -- that will be helpful.

[2022-10-17 09:18] jthies commented on #189
Hi @pghysels, I hopefully fixed this now in phist@develop, maybe you could try to install that before I create a new version in spack? There is one lapack call in phist (zlartg) that is not included in lapacke, I manually define the interface and call the Fortran routine there. If that causes problems with libsci you'll see "undefined reference to zlartg_" or something, but it will not happen if y

[2022-10-17 15:12] pelesh commented on #187
@pghysels, what happens when you run `$ git submodule update --init --recursive`. The error you saw can occur (1) if CMake was not able to find git on your machine or (2) if git failed to load Eigen submodule (e.g not having sufficient permission, network connection failure, authentication failure, etc.)

[2022-10-17 17:06] cameronrutherford commented on #187
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/exago/package.py#L21 - we have syntax in ExaGO spack package to clone recursively with submodules, whereas HiOp package is not configured to support this yet.

HiOp 0.7.0 is most likely the first release that requires submodules (?). 0.7.0 also isn't currently in HiOp's package.py, so it should be easy enough to add suppo

[2022-10-17 18:12] pghysels commented on #187
Thanks!
I was trying to install HiOp 0.7.0 as part of the upcoming xSDK release.
Let me try with
`    version("0.7.0", commit="5f42ab34b419b7cf64d0fffb29d443b009dbfd75", submodules=True)`
instead of
`    version("0.7.0", commit="5f42ab34b419b7cf64d0fffb29d443b009dbfd75")`

[2022-10-17 19:39] #187 closed

[2022-10-17 20:34] pghysels opened #191 "HiOp undefined reference to hiopMatrixSparseCSRCUDA"
[code]
I see this for HiOp 0.7.0 through spack, but also using manual git/cmake for hiop@develop.

However, with the manual CMake run, I see this:
[code]

In spack, even when I enable +ginkgo, HIOP_SPARSE is OFF, and I get the same error.

Do you think more changes are required in the hiop spack package for hiop v0.7.0?

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/98040

[2022-10-17 20:54] masterleinad commented on #175
@balay We currently have
https://github.com/spack/spack/blob/143f3f830c42a76fb6255264f7d0012f4919e9ab/var/spack/repos/builtin/packages/xsdk/package.py#L187-L190
Could we also use
[code]
for the release (and would you mind testing that if so)?

[2022-10-17 21:01] cnpetra commented on #191
for the build through spack, I see `-DHIOP_SPARSE:BOOL=OFF`, do you want it like this? The undefined reference apparently creeps in because of a flawed conditional. We will fix it shortly.

[2022-10-17 21:02] cnpetra commented on #191
also, could you please send us the command and log for the manual CMake run?

[2022-10-17 22:10] pghysels commented on #191
It looks like HIOP_SPARSE is OFF in spack by default because it relies on coinhsl which cannot be downloaded through spack?

The log for the cmake run is attached.
[hiop.log](https://github.com/xsdk-project/xsdk-issues/files/9804878/hiop.log)

[2022-10-17 22:49] cnpetra commented on #191
thanks. same underlying issue.

I suggest we fix this and provide a new tag/release 0.7.1 for HiOp (with a couple of other build system fixes), would that work on your end?

[2022-10-17 23:14] pghysels commented on #189
Thank!
I'm getting some different errors, please see the attached log.
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9805090/spack-build-out.txt)

[2022-10-17 23:49] #191 closed

[2022-10-18 08:11] jthies commented on #189
Hi Pieter, this is bit unexpected because it's GCC 11.2, which I use routinely to build phist.
I suspect that there is a conflict between a macro in phist and a Cray header. Any chance of building it with another BLAS/LAPACK library (like intel-mkl) to narrow down the problem? The other suspect would be mpich, but that typically works fine.

[2022-10-18 14:35] balay commented on #186
This hang persists.  Perhaps its a compiler bug. I'm not sure. I'll switch this CI to build dealii with gcc

[2022-10-18 14:52] luszczek commented on #190
How does E4S build PLASMA on Cori and/or Perlmutter?

[2022-10-18 16:43] balay commented on #188
@pghysels I pushed a (partial) fix - the build should work now. (without needing fflags option)

[2022-10-18 17:32] pghysels commented on #190
It looks like E4S uses OpenBLAS: https://dashboard.e4s.io/

I will do some testing with OpenBLAS.

I personally usually use cray-libsci on cori and perlmutter. So I tried xsdk with cray-libsci.
But it looks like PLASMA's `FindCBLAS.cmake` doesn't handle cray-libsci.
cray-libsci does provide cblas.h, so it should not be difficult to add support?

[2022-10-18 17:33] pghysels commented on #189
I will look into it. I'll first try to build with OpenBLAS.
I had tried to build on my Fedora machine, with OpenBLAS, and that works.

[2022-10-18 18:44] abhyshr commented on #185
What version of HIOP are you planning to include in the release? ExaGO depends on HIOP so I think we need to ensure compatibility with it, right?

[2022-10-18 18:49] balay commented on #185
~hiop@0.7.0~

hiop@0.7.1

[2022-10-18 19:56] liuyangzhuan commented on #180
@balay Do you see further failures? Should I pack a version 2.2.2?

[2022-10-18 20:58] balay commented on #180
sorry missed this one. Will start a test.

How do we set this up in spack?

[2022-10-18 23:35] balay commented on #175
Thanks! the build goes through now!

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3192012569

[2022-10-18 23:35] #175 closed

[2022-10-19 00:34] balay commented on #180
attempting to add `butterflypack+openmp` variant - will see how that goes...

[2022-10-19 00:39] liuyangzhuan commented on #180
@balay Thank you! Maybe you could also add a requirement of minimum version 7.0.0 for gnu compilers?

[2022-10-19 01:09] balay commented on #180
pushed a change to xsdk branch. Will have to make a separate PR of all these changes directly to spack later [after more testing - and perhaps when 2.2.2 is released]

[2022-10-19 02:04] #188 closed

[2022-10-19 02:45] balay commented on #180
I now get (on Mac):
[code]

[code]

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9816369/spack-build-out.txt)

[2022-10-19 03:24] balay opened #192 "kokkos+wrapper (a dependency of "petsc+kokkos") breaks many packages [petsc, slepc, sundials, and perhaps others]"
[code]

For ex: - check https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3193169610

For now disabling this requirement (of kokkos+wrapper for gcc) in kokkos/pacakge.py  - this build goes through fine for me with gcc - so I don't know why this code exists in spack..

And I'm not sure if we can upstream this change

https://gitlab.com/xsdk-project/spack-xsdk/-/commit/b19632e72db0c33bcb83d95323f500

[2022-10-19 04:02] bangerth commented on #192
@tamiko FYI

[2022-10-19 12:23] masterleinad commented on #192
For `Kokkos` to use `Cuda` all of it (and all downstream compilation units that use `Kokkos` headers) need to be compiled with a `CUDA`-able compiler, not just files with specific extensions or so. Thus, for using `nvcc` as `CUDA` compiler, `Kokkos`' `nvcc_wrapper` script must be used as host compiler. `Clang` can compile `Cuda` code natively so the wrapper is not necessary.

[2022-10-19 12:43] masterleinad commented on #192
On the other hand, `Kokkos` has a mechanism in place to direct all compilation to `nvcc_wrapper` internally so that the host compiler specified in `CMake` can be arbitrary. This also holds for all downstream code that uses `Kokkos` via `CMake` and `target_link_libraries`.

[2022-10-19 14:17] balay commented on #192
Right now this is basically is compiling all .c sources with nvcc  (via mpicc) - breaking builds. Check slepc errors at https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3193169610
[code]
etc..
[code]
And PETSc/kokkos code  doesn't need these wrappers [they break PETSc build similarly]

[2022-10-19 14:45] balay commented on #192
Ah - I thought this worked for me [but I guess I must have some bug in my testing process]

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3193963276

[code]
i.e kokkos~wrapper is used in this build.
petsc/slepc build fine here. But sundials is failing.
[code]
[spack-build-out(10).txt](https://github.com/xsdk-project/xsdk-issues/files/9821265/spack-build-out.10.txt)

perhaps @balos1 can take a

[2022-10-19 15:23] masterleinad commented on #192
Would you have the compile line causing that error?

[2022-10-19 16:23] balos1 commented on #137
Closing issue as stale.

[2022-10-19 16:23] #137 closed

[2022-10-19 16:23] balos1 commented on #165
Closing issue as stale.

[2022-10-19 16:23] #165 closed

[2022-10-19 17:20] balay commented on #180
Ah I had a typo with my 'butterflypack~openmp' code. Fixed and retesting.

OneAPI build goes through now.

[2022-10-19 17:29] balay commented on #180
MacOS failure persists

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9822893/spack-build-out.txt)

[2022-10-19 17:45] liuyangzhuan commented on #180
There are two errors from the log:
1. error: /Library/Developer/CommandLineTools/usr/bin/install_name_tool: for: /Users/xsdk/spack/opt/spack/darwin-catalina-skylake/apple-clang-12.0.0/butterflypack-2.2.2-zoec4usndr32oy4sqogaa2bezswvjb7c/lib/libdbutterflypack.2.2.1.dylib (for architecture x86_64) option "-add_rpath /Users/xsdk/spack/opt/spack/darwin-catalina-skylake/apple-clang-12.0.0/netlib-lapack

[2022-10-19 18:09] balay commented on #180
Its macos native sed:
[code]
Ok trying with:
[code]

ok the build goes through now.

[code]

[2022-10-19 18:13] liuyangzhuan commented on #180
That's fantastic! Are you committing these changes in butterflypack.py to spack? If not, can you send me a copy of butterflypack.py and I will create a PR.

[2022-10-19 18:13] liuyangzhuan commented on #180
Of course when there is no more issue in xsdk.

[2022-10-19 18:38] balay commented on #180
Ok - PR at https://github.com/spack/spack/pull/33416

[2022-10-19 18:49] liuyangzhuan commented on #180
From "/Users/xsdk/spack/opt/spack/darwin-catalina-skylake/apple-clang-12.0.0/butterflypack-2.2.2-qtep5reegrvb2xbxvqweoyivwbviwdsa" it seems that you created a version 2.2.2 for butterflypack? But I don't see it from
https://github.com/spack/spack/pull/33416

I'm confused how you did it. Do you want me to create a version 2.2.2 for the xsdk release?

[2022-10-19 18:49] balay commented on #192
Attaching logs with `spack install -j1`. I has previously noticed warnings after mpicc. Now they are after mpif90. [but the error is with .cu sources]. I'm totally confused now.

[spack-build-env.txt](https://github.com/xsdk-project/xsdk-issues/files/9823019/spack-build-env.txt)
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9823021/spack-build-out.txt)

using kokkos~wrapp

[2022-10-19 18:52] balay commented on #180
Since 2.2.2 is not yet released - I removed that change from the PR.

We still haven't done much LCF testing - don't know if they will show additional issues. If you want to spin 2.2,2 now - and  additional releases (or patches)  for any new issues that might come up - that's fine with me.

[2022-10-19 19:11] liuyangzhuan commented on #180
Satish, if you can work with 2.2.1 for this xsdk release, I don't need to pack newer versions.

[2022-10-19 19:17] balay commented on #180
My testing was with 2.2.2 - I think this openmp change is in 2.2.2? If so - we might need 2.2.2 for this MR?

Sorry wasn't thinking about this issue..

For now - will mark it as draft.

[2022-10-19 19:40] masterleinad commented on #192
Hmm... it seems that `Kokkos` flags are not properly propagated. In particular, I don't see a flag for the `GPU` architecture for the failing compilation units.

[2022-10-19 21:44] pghysels commented on #189
Works fine with OpenBLAS on Perlmutter.
It must be a cray-libsci issue.

[2022-10-19 22:51] balay opened #193 "phist build failure with Python 3.11.0rc2"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9824859/spack-build-out.txt)

Might be same issue as: https://gitlab.com/petsc/petsc/-/merge_requests/5732/diffs?commit_id=0de5a3fe88a2a4e564488567dfae2e2466a112a4

[2022-10-19 23:10] balay commented on #193
BTW: the release spreadsheet says `phist@1.10.0` - but I see `1.11.0`is also available in spack - so which one should we test with?

[2022-10-19 23:24] balos1 commented on #192
I have a fix for sundials that gets past the error above reported by @balay.  However, I now get a different error if I do not disable the trilinos variant of sundials when `petsc+kokkos`. There seems to be a clash between the internal trilinos kokkos and the standalone.

[2022-10-19 23:41] balay commented on #193
For now - testing with: https://gitlab.com/xsdk-project/spack-xsdk/-/commit/9cbf3414d4e89f7b332f55705d1092dff93f141e

[2022-10-20 01:05] balay commented on #192
https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3198712537

`xsdk~cuda` builds fine. This includes  `petsc+kokkos` and `trilinos+kokkos`,

So the failure come up when `+cuda` is used.

BTW: Does `xsdk+cuda~trilinos`  build go through? [good to know - but won't help with the primary issue].

In the last release cycle we tried to add in `superlu_dist+cuda` - and that triggered issues with many pac

[2022-10-20 02:29] balay commented on #193
[code]
[code]
Here its not using python from depenedencies...

[2022-10-20 13:43] balay commented on #192
Well the sundials build does go through without requiring additional fixes - but the dealii build fails

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9830611/spack-build-out.txt)

Ref: balay@xsdk:/data/balay/spack.x>nice ./bin/spack install -j24 xsdk@0.8.0+cuda~trilinos cuda_arch=70 ^cuda@11.6.0 ^openmpi |& tee spack-build.log

[2022-10-20 13:52] masterleinad commented on #192
I would not be surprised that using `Trilinos` and an external `Kokkos` at the same type is problematic. `Trilinos` can't use an external `Kokkos` yet and always bundles it. Thus, this case results in two competing `Kokkos` installations.

[2022-10-20 15:21] balay opened #194 "Trilinos build failure on cori with intel@19.1.3.304"
[code]
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9831520/spack-build-out.txt)

ref: ./bin/spack install -j4 xsdk@0.8.0 ^trilinos cxxflags=-no-ipo

[2022-10-20 18:13] jthies commented on #193
Hi @balay, thanks for the pointer to the petsc issue, if that's all it should be fixed in phist@develop now. For the xSDK release I could make a new tag (phist@1.11.2 or so) after you confirm that this fixes the build issue with python@3.11:

[2022-10-20 18:54] jthies commented on #189
If you have the build directory (with cray-libsci), could ``cd`` there and type (after loading the appropriate modules):
[code]
`nd upload the file
[code]
Hopefully that will give me a clue as to what's going on.

[2022-10-20 19:13] balay commented on #193
Thanks! Added phist-dev branch as phist@1.11.2 - so this can tested. The python-3.11 build does go through with it.

[2022-10-20 19:44] pghysels commented on #189
[phist_orthogrr.cpp.i.txt](https://github.com/xsdk-project/xsdk-issues/files/9833436/phist_orthogrr.cpp.i.txt)

[2022-10-20 23:34] pghysels opened #195 "MAGMA on Perlmutter cannot find cublas/cusparse"
On Perlmutter, the CUDA math libs are in a separate folder from the core CUDA libs:
`/opt/nvidia/hpc_sdk/Linux_x86_64/22.5/math_libs/11.7/lib64` vs `/opt/nvidia/hpc_sdk/Linux_x86_64/22.5/cuda/11.7/lib64`.

MAGMA 2.6.2 cannot find `cuBLAS` or `cuSPARSE`.

This is fixed in MAGMA@master, which uses `find_package( CUDAToolkit )` and links to the CMake targets `CUDA::cublas` and `CUDA::cusparse`, where

[2022-10-21 00:29] pghysels commented on #195
This is also a problem for Tasmanian

[2022-10-21 00:29] pghysels commented on #195
heffte cannot find cufft

[2022-10-21 00:35] balay commented on #182
Perhaps unrelated - but its a similar trilinos build error with hypre.

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3205220924
[code]
A rerun of the same build is successful

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3205737782

I think I saw similar random build failure before aswell [don't remember if its the same build or a different build]

[2022-10-21 02:56] cnpetra commented on #181
Satish (@balay), could you please take a look at https://github.com/LLNL/hiop/pull/562 and comment? Hopefully it (partially) fixes the issue you reported? We had some quite long internal debate on OpenMP and Apple (Clang-related issues) and that is "a" solution. Better solutions may exist and let us know of any suggestions.

[2022-10-21 03:20] balay commented on #181
@cnpetra yes - the macos build does succeed with this fix. Thanks!

[2022-10-21 05:45] jthies commented on #189
Thanks! Apparantly they define "I" as a macro, and I used it as a variable name somewhere.
It should be fixed in phist@develop now. Let me know if there are more things popping up.
I do think that this is very bad style from Cray, perhaps we should ask them to fix it :)

[2022-10-21 15:56] pghysels commented on #189
Thanks! I will try again.
Perhaps this `I` macro comes from the `complex.h` header which gets included through `lapacke.h`?
https://en.cppreference.com/w/c/numeric/complex/I

[2022-10-21 16:58] pghysels commented on #195
Attached is a patch for heffte, which works for me on Perlmutter.
Should this be added in spack, or can it go in a new heffte release?
[cudatoolkit.patch.txt](https://github.com/xsdk-project/xsdk-issues/files/9840993/cudatoolkit.patch.txt)

[2022-10-21 17:04] mkstoyanov commented on #195
This makes a huge bump the minimum CMake right before we tag the release. I want to update CMake, but not right now.

I'll add the workaround, will enable the newer CUDA standard, but will keep the CMake requirements. You'll only need to use newer CMake on Perlmutter.

Thanks for reporting the problem.

[2022-10-21 17:14] #181 closed

[2022-10-21 17:25] pghysels commented on #195
I understand your concern.
(I should have used a minimum CMake 3.17 instead of 3.18, FindCUDAToolkit was introduced in CMake 3.17).

My Ubuntu and Fedora machines both have CMake 3.22.
Cori and Perlmutter use CMake 3.17 by default but you can easily switch to 3.22 by reloading the module.

[2022-10-21 17:38] mkstoyanov commented on #195
The plan was to update the CMake version right after the release, I have to change that now.

Ubuntu 20.04 still uses CMake 3.16 as a default and ROCm has no support for Ubuntu 22.04 yet. Requiring CMake 3.17 means that we have to manually handle CMake installations in the CI and will affect some users. Let's hope the optional dependence will be enough.

[2022-10-21 17:53] balay commented on #195
Wrt xsdk - some pkgs already have higher cmake requirement - so a newer cmake is build and used [if not preinstalled] for all pkgs in xsdk install.

superlu-dist:
[code]
amrex:
[code]
sundials:
[code]

[2022-10-21 17:55] mkstoyanov commented on #195
That's fair @balay but not all users are going through spack.

[2022-10-21 17:58] balay commented on #195
Sure - just wanted to point that out.. [and for some reason different cmake requirements for different usages...]

Also presumably supporting builds on  perlmutter is independent of xsdk - so you would decide on the appropriate way to deal with this issue

If it were only for xsdk/spack - you can always add in that patch in spack [and not in mama release]

[2022-10-21 19:45] shuds13 opened #196 "openblas fails to build on Polaris with gcc@11.2.0"
Setup:

module load PrgEnv-gnu

Spec:

xsdk@0.8.0 +cuda cuda_arch=80

Fails with

[code]
I have tried adding `fflags=-glfortran` to spec and specifying 'extra_rpaths' to libgfortran.so in the spack.yaml. No difference.

[build.log](https://github.com/xsdk-project/xsdk-issues/files/9841968/build.log)
[spack.yaml.txt](https://github.com/xsdk-project/xsdk-issues/files/9841999/spack.yaml.txt)

More co

[2022-10-21 20:39] pghysels commented on #196
Perhaps you can try this commit: https://github.com/spack/spack/pull/33444
Or report it to spack directly.
I don't have this problem on Perlmutter with PrgEnv-gnu/8.3.3, gfortran 11.2.0.

[2022-10-21 20:42] mkstoyanov commented on #195
Just updated Tasmanian and heFFTe, `spack install tasmanian@develop+cuda` should work fine now.

[2022-10-21 20:54] pghysels commented on #195
Thanks, that works.

[2022-10-21 20:56] mkstoyanov commented on #195
I guess we can close the issue.

[2022-10-21 21:01] shuds13 commented on #196
Yes, openblas builds with this patch.

[2022-10-21 21:01] pghysels commented on #195
These issues are now fixed now in magma@master, heffte@develop and tasmanian@develop.
But I'm not sure how this will be handled for the xsdk@0.8.0 release?
I'll leave that to @balay

[2022-10-27 22:36] balos1 commented on #196
Closing as this seems to have been resolved.

[2022-10-27 22:36] #196 closed

[2022-10-27 22:38] balos1 commented on #192
Linking to kokkos in addition to petsc when `petsc+kokkos` fixed the second problem and it now builds fine. @balay I think that means we can close this now, yes?

[2022-10-27 22:38] balos1 commented on #193
Closing since this seems to have been fixed with the patch.

[2022-10-27 22:38] #193 closed

[2022-10-27 22:39] balos1 commented on #167
Problem is fixed, so closing.

[2022-10-27 22:39] #167 closed

[2022-10-27 22:41] balos1 commented on #180
This seems to be fixed now with 2.2.2, so closing.

[2022-10-27 22:41] #180 closed

[2022-10-27 22:42] balos1 commented on #170
Closing as the build is going through now.

[2022-10-27 22:42] #170 closed

[2022-10-27 23:22] balos1 opened #197 "dealii build failure on LLNL Lassen"
Running `spack install -j44 --fail-fast xsdk@0.8.0%gcc@8.3.1+cuda cuda_arch=70 ^cuda@11.7.0 ^python@3.9.10` on Lassen, I get the following from deal.ii:

[code]

**Details**

[code]

[spack-build-02-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9883654/spack-build-02-build-out.txt)

[2022-10-28 12:53] balay commented on #192
Hm - should we enable `petsc+kokkos` in xsdk and try again?

[2022-10-28 15:49] balos1 commented on #192
Sure.

[2022-10-28 16:06] mkstoyanov commented on #195
heffte and tasmanian develop variants were converted to releases

[2022-10-28 19:53] pghysels commented on #195
For MAGMA, we could use this commit as a patch
https://bitbucket.org/icl/magma/commits/4c0c4df0cab79cf19bdb8917a56788f744495fca

I reopened this for MAGMA. Tasmanian and heffte are fine now.
This issue was for all 3 packages, because the issue is the same.

[2022-10-28 20:20] balay commented on #192
( using current kokkos mode of forcing kokkos+wrappers)  the build now breaks with MFEM and DEALII

so can't really enable `petsc+kokkos`

[dealii-spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9891516/dealii-spack-build-out.txt)
[mfem-spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9891517/mfem-spack-build-out.txt)

cc: @bangerth @v-dobrev

[2022-10-28 21:02] balos1 commented on #192
Yeah, best keep it unspecified for now. Likely, mfem and dealii would have to do the same thing we did in sundials link to kokkos/kokkos-kernels directly.

[2022-10-28 21:05] balay commented on #192
Also tried `kokkos~wrappers`, dealii buids now. mfem still breaks.

[mfem-spack-build-out2.txt](https://github.com/xsdk-project/xsdk-issues/files/9891804/mfem-spack-build-out2.txt)

[2022-10-28 23:41] v-dobrev commented on #192
From the above log, it looks like `petsc.so` has unresolved symbols, e.g.:
[code]
Why is this not resolved in `petsc.so`? Is it in a static library?

[2022-10-29 00:02] v-dobrev commented on #192
In the other log file (`mfem-spack-build-out.txt`) there's big mess with errors like this:
[code]
which are impossible to understand without the sequence of `#include` directives that lead to this error.

@balos1, what did you need to do in SUNDIALS to fix this kind of errors? Of course, if you had similar errors.

[2022-10-29 00:32] balay commented on #192
[code]
Yet the linker complains.

@balos1 added the following fix to sundials for this issue

https://gitlab.com/xsdk-project/spack-xsdk/-/commit/c524ebbe7a8cdff480a3aa72d4b8e89e730c00a1

with `kokkos+wrapper` I get similar mess (that I don't understand) with petsc and slepc. Here is the fix I use for slepc (similar for petsc)  - basically undo what `kokkos+wrapper` does:

https://github.com/spack

[2022-10-29 16:33] balay commented on #185
Updating the status of exago in xsdk here.

 petsc-3.18 fixes are now in exago `develop` branch. However - we still has outstanding build issues.

Default exago build in spack is without raja. Here are  the build errors in this mode.

[spack-build-out-oneapi.txt](https://github.com/xsdk-project/xsdk-issues/files/9894142/spack-build-out-oneapi.txt)
[spack-build-out-gcc.txt](https://github.com/xsdk-

[2022-10-29 17:39] balay commented on #185
Also adding this issue here.

There were build breakages with `exago+ipopt` - as ipopt has a dependency on `mumps~mpi` - this installs a conflicting mpi.h (for this sequential build) - in a xsdk build that is always a +mpi build. exago build picks up this alternate mpi.h and breaks compiles.

Current workaround is to use `exago~ipopt`

[2022-10-29 17:45] balay commented on #185
Another build issue:

 exago build fails on MacOS [as default xcode compilers don't support openmp]

[spack-build-out(13).txt](https://github.com/xsdk-project/xsdk-issues/files/9894254/spack-build-out.13.txt)

Current workaround is to disable exago [from xsdk] on MacOS

[2022-10-29 21:18] balay commented on #185
+cuda build also fails

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9894603/spack-build-out.txt)

[2022-10-31 06:03] v-dobrev opened #198 "The SuperLU_DIST Spack package ignores +rocm"
To enable `+rocm`, the package also requires version `@amd` which no longer exists. See https://github.com/spack/spack/blob/fb4be98f263be83591af09fb284405314370a564/var/spack/repos/builtin/packages/superlu-dist/package.py#L125

[2022-10-31 13:49] balay commented on #185
To update, right now exago is broken in xdk.

Hoping `exago~raja` build issues in `develop` branch can be fixed [as a buid with raja appears to  have very specific dependencies - that are breaking in xsdk build]. And enabling exago+raja can be deferred to the next release cycle.

Likely this breakage is introduced by:

[code]
As I have a successful build with the ( exago develop) snapshot prior to

[2022-10-31 15:56] balay commented on #185
Perhaps the following fix (for exago/develop)?

[exago-noraja.patch.txt](https://github.com/xsdk-project/xsdk-issues/files/9902693/exago-noraja.patch.txt)

[2022-10-31 16:20] balos1 commented on #192
Are there any Kokkos symbols in public petsc headers? If yes, then I suppose linking to petsc.so wont resolve those.  @v-dobrev I did not go down the rabbit hole to figure out where in petsc the errors were coming from (although I did not get the one about `max_align_t`) yet.

[2022-10-31 16:34] balay commented on #192
petsc exposes kokkos includes to users via petsc public includes - I think its needed for definitions of basic datatypes from kokkos that get used with some  petsc (public/api) functions.

cc: @jczhang07

[2022-10-31 16:57] jczhang07 commented on #192
Yes, petsc has some public headers like `petscvec_kokkos.hpp`. When kokkos is enabled, they provide functions like getting a  Kokkos::View from a petsc vector.

In current petsc makefile system, Kokkos files are supposed to have suffix`*.kokkos.cxx`. PETSc will compile them with a so-called Kokkos compiler. *.c, *.cxx files are compiled with regular C or C++ compilers.

[2022-10-31 17:16] balay commented on #192
Hm  `petscvec_kokkos.hpp`  is probably not getting included from sundials/mfem - just the basic includes (petscvec.h,petscsnes.h)  - With this usesage -  kokkos includes shouldn't get exposed to user? [but linker complains...]

[2022-10-31 17:34] jczhang07 commented on #192
No, they should not.

What do you mean? If petsc is configured with Kokkos,  of course users should link the petsc library with kokkos libraries

[2022-10-31 17:44] balay commented on #192
Normally when -lpetsc is created by linking in external libraries - only '-lpetsc' is needed at application link time. But with kokkos [only when cuda is enabled?] - we are getting kokkos link errors.

[2022-10-31 18:35] balay commented on #192
Hm - I'm unable to reproduce this issue with a stand-alone build of petsc+kokkos+cuda, with a petsc example.

[code]

[2022-10-31 18:45] liuyangzhuan commented on #198
Can you see if this PR fixes the problem?
https://github.com/spack/spack/pull/33624

[2022-10-31 18:47] abhyshr commented on #185
Thanks for the diagnosis, Satish. I've pushed a branch [xsdk-build-failures](https://gitlab.pnnl.gov/exasgd/frameworks/exago/-/commits/xsdk-build-fixes) for fixing the builds. This has fix for +raja build. I noticed that the error log was in a portion of the code that's activated when GPU is not being used. We always enable  GPU when using RAJA. @CameronRutherford may be able to point to specific

[2022-10-31 18:48] balay commented on #192
And I'm unable to reproduce this with the spack build of PETSc (using petsc example).
[code]
With this same build - mfem fails (inside spack build)

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9903981/spack-build-out.txt)

[2022-10-31 18:56] pelesh commented on #185
FWIW Ipopt should not depend on MUMPS and ExaGO should depend on `ipopt~mumps`. The MUMPS interface in Ipopt has been broken for some time. We haven't been able to get correct results with Ipopt when MUMPS is the linear solver.

[2022-10-31 19:59] jczhang07 commented on #192
Does the kokkos library contain the undefined reference in libpetsc.so?

[2022-10-31 20:34] pelesh commented on #185
This is probably not the best way to move forward. As a short term solution, I would suggest the default ExaGO build to include RAJA and Umpire.

Umpire specific code probably should have not been implemented in `opflow_hiop.cpp` file in the first place and we'll likely need to refactor that. Carving out Umpire calls with preprocessor directives would probably make it work for xSDK release, but it

[2022-10-31 20:39] pelesh commented on #185
@balay, could you clarify what are the dependencies pulled by exago+raja that are breaking xsdk build.

[2022-10-31 21:11] cameronrutherford commented on #185
@pelesh @abhyshr I have been working with Satish on this, and I was hoping that getting build without RAJA working would be easiest path forward for xSDK release. I have Jaelyn working on this.

Only other issue would be OpenMP + MacOS issue that Ryan is working on.

@balay only error in +cuda log that I can see is for MPI headers (which I think you have submitted spack fixes for), so perhaps that

[2022-10-31 22:15] balay commented on #185
Here is the prior log with raja failure.

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9905325/spack-build-out.txt)

And @CameronRutherford suggested:

[and that didn't really work, currently don't have the log]

We are fast approaching our deadlines - and I fear we might not have time to deal with raja and all its dependencies [if only specific versions of raja/camp/ump

[2022-10-31 22:25] balay opened #199 "mfem + shared build failures"
Noticed mfem was defaulting to a static build - attempted to enable `mfem+shared` - most builds are failing here..

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3253841202

[2022-10-31 22:28] pelesh commented on #185
What I would suggest as a path forward is to enable minimalistic ExaGO build, which includes only PFLOW module. This would require only minor changes in CMake and could be done quickly. The minimalistic build would still depend on PETSc and MPI, and would be a bone fide xSDK member. More importantly, it would not require any hacks in the ExaGO code.

Having such build would allow us to build ExaGO

[2022-10-31 22:32] balay commented on #192
It should - the string is way too long to do `nm` to verify :(

[2022-10-31 22:33] balay commented on #192
BTW: Noticed mfem was built as static [default] - tried switching to `mfem+shared` and got the same error.

And regular [non-cuda/kokkos] builds appear to fail - filed this at: https://github.com/xsdk-project/xsdk-issues/issues/199

[2022-10-31 22:38] balay commented on #185
If  you can provide a `branch` where this works - and the spack patch to disable this module - I can try it in xsdk build

[2022-10-31 22:42] balay commented on #185
BTW: When raja is enabled - should both hiop and exago have raja enabled? Or would it be `exago+raja hiop~raja`?

So far I've been trying `hiop+raja hiop+raja`

[2022-10-31 22:49] cameronrutherford commented on #185
HiOp+raja goes with ExaGO+raja.

This is specified in Spack of ExaGO.

You should be able to do ExaGO~raja and HiOp+raja in theory...

[2022-10-31 22:54] balay commented on #185
I have one successful build with it. (with exago+raja hiop+raja). Will try other builds.

[2022-10-31 22:58] cameronrutherford commented on #185
@pelesh this would be reasonable. If we can define what that minimal spec is, adding a spack/cmake configuration shouldn't be too hard.

[2022-10-31 23:02] cameronrutherford commented on #185
@balay if we can get the error log with the tagged version of camp that could help.

We have had success on Crusher recently and so it would be helpful to see the errors.

[2022-10-31 23:20] balay commented on #185
With the fix in [xsdk-build-fixes](https://gitlab.pnnl.gov/exasgd/frameworks/exago/-/commits/xsdk-build-fixes) - I'm not seeing that error anymore [with latest camp].  So perhaps this is not really a camp version issue.

[code]
I'm trying out other builds to see if they also work.

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/681993599

[2022-10-31 23:39] v-dobrev commented on #199
Thanks for reporting this issue.

This happens because the installation of miniapps (`+miniapps` variant which is enabled by default in xSDK) is not supported by the MFEM build system natively, so we use a hack in the Spack package that fails with `+shared`. This seems to affect just one miniapp: `hooke`.

I'll try to address this in https://github.com/spack/spack/pull/33603 but I'm not sure this

[2022-10-31 23:45] v-dobrev commented on #192
The unresolved symbols seem to be from the namespaces `KokkosSparse::Impl` and `KokkosBlas::Impl`. Which Kokkos library file(s) contain these symbols? I can try to added these manually in addition to `-lpetsc`.

[2022-10-31 23:52] balay commented on #199
Its not critical - we had static mfem in earlier releases. It just felt odd to have this built as static

[since the discussion in the other kokkos issue was about shared vs static libraries]

[2022-11-01 00:00] balay commented on #192
They should be kokkos kernel libraries. Might need to query spack to get the correct library names.  [perhaps with dependent kokkos library as-well]

[code]

[2022-11-01 00:34] v-dobrev commented on #198
Yes, that fixes the problem. Thanks!

[2022-11-01 01:24] pelesh commented on #185
I created an [issue](https://gitlab.pnnl.gov/exasgd/frameworks/exago/-/issues/377) at ExaGO gitlab suggesting how minimalistic ExaGO could be built. It seems this could be done quickly and cleanly.

[2022-11-01 02:06] balay opened #200 "sundials@6.4.1 failure with latest ginkgo (develop) changes."
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9905689/spack-build-out.txt)

current ginko development commit:
[code]
Switching to earlier snapshot - build fails again. I'm confused. These xsdk builds worked yesterday - so this 'oct 5' commit was pushed today?

[code]
retry with earlier snapshot - the build goes through
[code]

For now will switch to `sundials~ginkgo`

[2022-11-01 02:34] balay commented on #185
- linux gcc-9.2.0: raja build fails

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3254652436

- linux gcc-9.2.0 + cuda: raja builds fine with cuda? But exago fails

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3254652437

- linux intel-19: raja fails to build

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3254652438

- macos clang: camp fails to build

https://gitlab.com/xsdk-project

[2022-11-01 14:58] mkstoyanov commented on #195
@pghysels It's OK to reopen this for MAGMA, but make sure to tag some of the MAGMA developers. I don't work on MAGMA, just tasmanian and heffte.

[2022-11-01 15:18] balay commented on #200
This failure is also reflected in sundials@develop build

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/682150392

[2022-11-01 15:48] balos1 commented on #200
Looks like ginkgo changed something that effects sundials. We won't be able to fix it on the sundials end for the xsdk release so `sundials~ginkgo` is fine unless sundials with ginkgo@develop starts working again by the time they do their releaae.

[2022-11-01 15:53] balos1 commented on #176
This seems to have been an issue with Trilinos@14.0.0 so I am closing.

[2022-11-01 15:53] #176 closed

[2022-11-01 16:06] balos1 commented on #200
@hartwiganzt @pratikvn could someone from Ginkgo take a look at this?

[2022-11-01 16:15] pratikvn commented on #200
I'm having a look. We will try to resolve it from the Ginkgo side.

[2022-11-01 17:10] pelesh commented on #185
@balay: Let us try mini-ExaGO. The module that is causing the troubles is already obsolete and support for it is likely to get discontinued.

[2022-11-01 17:24] balay commented on #185
Ok. Let me know how I can use this [from spack]

For now I'm using `xsdk-build-fixes` branch - with the `noraja` fixes I posted earlier. (and this builds fine, macos is disabled)

https://gitlab.com/xsdk-project/spack-xsdk/-/commit/efc170d7bd9061a83f6e56f8e989b79cc842268a

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/682173755

[2022-11-01 18:18] cameronrutherford commented on #185
@balay can you try and pin RAJA with 0.14.0, Umpire 6.0.0 and Camp 0.2.3? That is the blessed version configuration that we have been testing with, and perhaps would get pipelines to pass...

We are still working on a version that will be supported for `exago~ipopt~hiop~raja`, and that should be the more maintainable solution for your tests.

[2022-11-01 19:21] v-dobrev commented on #198
The Spack PR is now merged. Closing this.

[2022-11-01 19:21] #198 closed

[2022-11-02 05:56] v-dobrev commented on #192
@balay, I'm trying to reproduce the issue on Lassen using https://github.com/spack/spack/pull/33603 with
[code]
which leads to `kokkos~wrapper` spec.

However, I get this error from the kokkos package:
[code]
My setup is using `gcc@8.3.1` and external `cuda@11.5.0`. In the log you posted above (`mfem-spack-build-out2.txt`), you also seem to be using `gcc` -- how come your kokkos build worked?

[2022-11-02 07:52] v-dobrev commented on #192
I think I figured out the main issue with the `kokkos+wrapper` dependency:
1. it redirects the MPI wrapper to call it instead of what Spack sets by default
2. it behaves as `nvcc`, removing, changing, and adding arguments and ultimately calling `nvcc`.

The issue with that in the MFEM package (and probably many other packages) is that it compiles CUDA + MPI by calling `nvcc` with `-ccbin` set to t

[2022-11-02 10:54] pratikvn commented on #200
Update: We have figured out the issue and we will have a PR to fix it in Ginkgo develop soon. I have confirmed that the fix works with the SUNDIALS release branch as well.

[2022-11-02 13:22] balay commented on #192
I comment out those 3 offending lines when testing the `kokkos~wrapper` use case.

Yes - I think it doesn't belong in kokkos/package.py [i.e it should not force all dependent pkgs to use this modified mpicxx - that breaks compiles. Only pkgs that need it should do this switch. However @masterleinad disagrees...

yes - I undo this mpicxx switch in petsc/slepc for `kokkos+wrapper` - and that gets th

[2022-11-02 14:03] masterleinad commented on #192
I don't necessarily disagree. I'm just pointing out that using `Kokkos+CUDA` with `nvcc` requires special care in the choice of the compiler and I'm honestly surprised that you make it work without using `nvcc_wrapper`.
I think it's a good idea to just open a pull request on the `spack` side and discuss what to do there.

[2022-11-03 03:03] v-dobrev commented on #192
Okay, I created an issue in Spack: https://github.com/spack/spack/issues/33684.

[2022-11-03 15:50] tcojean commented on #200
The fix was merged

[2022-11-03 15:58] balay commented on #200
Thanks! will give it a go now

[2022-11-03 17:48] balay commented on #195
cc: @luszczek @hartwiganzt @stomov

[2022-11-03 19:21] v-dobrev commented on #192
Until https://github.com/spack/spack/issues/33684 is resolved, I pushed a temporary (?) workaround for the `kokkos+wrapper` issue to MFEM in https://github.com/spack/spack/pull/33603.

With that, I think we still have the issue with `dealii` failing with `kokkos+wrapper`. Do we want to try to fix that (by reverting the environment change from `kokkos-nvcc-wrapper`?

Alternaltively, we can try to m

[2022-11-03 20:15] v-dobrev commented on #192
Regarding MFEM with `kokkos~wrapper`: after commenting out these lines in the Kokkos package:
[code]
I had no issue build the following on Lassen:
[code]

[2022-11-04 03:05] stomov commented on #195
Thanks for reporting this. We had it indeed fixed in master - this will be available in the new magma 2.7 release scheduled for tomorrow. I will comment here again when we do it.

[2022-11-04 04:55] balay commented on #185
Here is the build with `pin RAJA with 0.14.0, Umpire 6.0.0 and Camp 0.2.3`

with https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/684811482

The workstation buids are clean [except for MacOS - where currently I have exago disabled - but I might also have to disable hiop - when raja is enabled. I tried raja~threads - but that somehow triggered sundials failure - so perhaps sundials is somehow

[2022-11-04 05:17] balay commented on #200
https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/685059053

The sundials+ginkgo build is clean now

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/685059053

[2022-11-04 09:59] v-dobrev commented on #199
This issue should now be resolved in https://github.com/spack/spack/pull/33603.

[2022-11-04 14:24] balay commented on #199
Thanks! enabling mfem+shared now

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/685829508

[2022-11-04 15:06] #200 closed

[2022-11-04 16:47] balay commented on #185
Will try the following:
- add a variant `raja` to xsdk - this way - both normal build (with `+raja` default, also work with +cuda) and `pflow-only`  (with `~raja`) can be attempted
- will set MacOS build to default to `~raja ~exago` [i.e `hiop~raja` gets built on MacOS]

yet to test this...

https://gitlab.com/xsdk-project/spack-xsdk/-/pipelines/686002813

[2022-11-04 20:46] shuds13 opened #201 "openblas cannot be found on Summit with gcc"
Spack:
git clone https://gitlab.com/xsdk-project/spack-xsdk
git checkout xsdk
Most recent commit: 7181529140b3fc9d118cceb6862b930d0e92ccfe

Spec:
xsdk@0.8.0~dealii+cuda cuda_arch=70 ^spectrum-mpi@10.4.0.3

Fails with:

[code]

spack.yaml specifies several openblas external builds that are on the system.
[spack.yaml.txt](https://github.com/xsdk-project/xsdk-issues/files/9941853/spack.yaml.txt)

Eg.

[2022-11-04 22:40] v-dobrev commented on #199
Note that https://github.com/spack/spack/pull/33603 has a small tweak for HYPRE too. This is to allow building HYPRE + ROCm with external (to Spack) ROCm installation.

[2022-11-04 23:58] cameronrutherford commented on #185
exago-pflow-only branch is set to be merged into develop with tests now passing.

We are on track to close out a few more issues, and then I think we can also have a 1.4.2 release to have something static for xSDK.

We ran into a new issue debugging MacOS issue, but I think I can make CMake changes that fix issue without reproducing first if you want me to try that.

[2022-11-05 00:45] balay commented on #185
If you have  changes  for MacOS [exago branch,corresponding spack changes] - I can give it a try and see if it will build

[2022-11-05 01:39] balay commented on #185
BTW: would version 1.5.0 be better fro this than 1.4.2- as there are some major [dependency] changes wrt petsc and hiop [esp on the spack side]. Also we are anchoring raja/umpire/camp for this version in spack.

Usually sub-minor releases (1.4.1 to 1.4.2)  are for bug-fix-only  updates [i.e usually drop in replacement wrt dependencies]

[2022-11-06 18:57] balay commented on #185
Build failure on `cori` [with Intel compilers]

[code]

ref:  balay@cori12:/tmp/balay/spack> ./bin/spack install xsdk@0.8.0%intel@19.1.2.254 ^netlib-lapack ^dealii cflags=-L/opt/cray/pe/atp/3.14.9/libApp cxxflags=-L/opt/cray/pe/atp/3.14.9/libApp |& tee spack-build.log

[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/9946600/spack-build-out.txt)

[2022-11-06 19:04] balay commented on #194
Its strange that trilinos cmake is picking up /usr/lib/libdl.so [32bit library] and others from /usr/lib.

Switching from pre-installed `intel-mkl` to `netlib-lapack` gets this build going

[2022-11-06 19:08] balay commented on #185
Hm - `pflow-only` i.e `exago~hiop~ipopt` gives errors. [don't know why I didn't see this before]
[code]

I see exago/package.py has:
[code]
I guess  this check can now  be updated to   [as its fixed by pflow-only] :
[code]

It doesn't fix the above `Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)` error though..

[2022-11-07 15:47] balay commented on #199
Closing as `mfem+shared` works now.

[2022-11-07 15:47] #199 closed

[2022-11-07 15:49] balay commented on #194
Closing as trilinos builds now on cori [with netlib-lapack]. Howerer there might be a lurking bug/issue with using  intel-mkl on cori [via spack]

[2022-11-07 15:49] #194 closed

[2022-11-07 18:18] cameronrutherford commented on #185
Yes, we should update our conflicts cause there in the newest update as well. We also need to disable python when building either `~hiop` or `~ipopt`.

I agree with 1.5.0 instead of 1.4.2 - I will bring this up with my team and see what the consensus is, but that shouldn't change the timeline on the release.

w.r.t. the CMake Threads/OpenMP issue, I think we were finally able to reproduce, and so

[2022-11-07 20:28] shuds13 commented on #201
Looks like `^netlib-lapack` is working. I will try again from scratch to make sure.

[2022-11-08 01:33] cameronrutherford commented on #185
@balay this should be fixed in develop. The release should be coming soon, as we just need to update our spack package to reflect dependency issues highlighted here, and we should be good to go

[2022-11-08 04:34] #201 closed

[2022-11-10 01:32] balos1 opened #202 "MAGMA fails to build on Crusher with rocm enabled"
Spack files here: https://github.com/xsdk-project/installxSDK/tree/r-0.8.0/platformFiles/crusher/PrgEnv-gnu and https://github.com/xsdk-project/installxSDK/tree/r-0.8.0/platformFiles/crusher/PrgEnv-cray

[code]

spack-build-out.txt

[2022-11-10 01:34] balos1 commented on #202
Same error with PrgEnv-cray and cce compiler.

[2022-11-10 02:25] luszczek commented on #202
MAGMA release 2.7 is for xSDK 0.8 but this build used version 2.6.2 of MAGMA

[2022-11-10 05:08] balay commented on #202
I see  2.7 tarball got released today. Will update xsdk branch to use it.

Edit: pushed the update

[2022-11-10 15:04] G-Ragghianti commented on #202
It appears that your "hipcc" (and hipcc.pl) needs to call "clang", but it is not in the expected place.

[code]

[2022-11-10 15:20] tcojean commented on #202
We recently saw the same problem that @G-Ragghianti reports with Ginkgo during manual tests. Somehow `spack load` tends to set incorrect environment settings for the important `ROCM_PATH` variable which causes this sort of error within the very brittle Perl scripts. It sometimes sets it to:
[code]

Which should instead be
[code]

Can you check if this is the case here as well?

And indeed, in `hip

[2022-11-10 15:39] balay commented on #202
yes - rocm-5.2 changed paths.

https://github.com/spack/spack/issues/32826

There was a bug here - that got fixed

https://github.com/spack/spack/pull/33257

So the following change in spack spec to reflect rocm-5.2 path:
[code]

[2022-11-10 15:40] stomov commented on #195
@pghysels MAGMA 2.7 is now released with a fix for this issue, and @balay already updated it in spack (pull request https://github.com/spack/spack/pull/33814).

[2022-11-10 15:40] #195 closed

[2022-11-10 19:09] shuds13 opened #203 "Trilinos fails with xsdk on gcc9.1.0 on Summit"
Spack:
git clone https://gitlab.com/xsdk-project/spack-xsdk
git checkout xsdk
Most recent commit: 7181529140b3fc9d118cceb6862b930d0e92ccfe

Spec:
xsdk@0.8.0~dealii+cuda cuda_arch=70 ^spectrum-mpi@10.4.0.3

[code]
[spack.yaml.txt](https://github.com/xsdk-project/xsdk-issues/files/9983914/spack.yaml.txt)
[build_summit_trilinos_fail.log](https://github.com/xsdk-project/xsdk-issues/files/9983932/build

[2022-11-10 20:27] balay commented on #185
To update: the exago build now works on MacOS

https://gitlab.com/xsdk-project/spack-xsdk/-/jobs/3304607638
[code]

However - the failure on cori persists
[code]
Will just disable exgo on cori for now.

[2022-11-10 20:30] balay commented on #185
@CameronRutherford @abhyshr - do you have an estimate for when the release would occur?

Hoping all (outstanding) pkgs can provide a release this week (if not by Monday) - as they need to go through spack PR process, merged in - and then xsdk released, (changes in this process need re testing) , website updated with the xsdk release - and all these stages will take time, and they all should be com

[2022-11-10 21:32] cameronrutherford commented on #185
I suppose that we will debug this failure in future releases?

[2022-11-10 21:37] cameronrutherford commented on #185
@balay we should have a release along with a spack PR within a day. Just have to polish up the changelog and tag the new version. I will create a spack PR with exago changes that are identical to existing xSDK PR.

[2022-11-10 21:38] balay commented on #185
You might want to debug this - irrespective of xsdk. [it could be a spack/config issue on cori  - or it could be  and exago issue]

Wrt xsdk - cori is going away in a couple of months - [i.e not something to debug for future release]

I guess I was trying to convey: do not delay the release for this issue.

[2022-11-10 21:40] balay commented on #185
sounds good.

[2022-11-10 22:47] v-dobrev opened #204 "PFLOTRAN 4.0.1 build issue with Cray's Fortran compiler"
The Spack spec of the failing build is:
[code]
The relevant lines from the log are as follows:
[code]

[2022-11-11 08:45] v-dobrev opened #205 "PHIST 1.11.2 build errors with Cray's Fortran compiler"
The Spack spec of the failing build is
[code]
The build errors look like this:
[code]
Basically, it looks like the Cray Fortran compiler is given options that it does not support.

[2022-11-11 23:55] v-dobrev commented on #202
I think this issue is now resolved by the updated MAGMA v2.7.0 release tarball, see https://github.com/spack/spack/pull/33814. I tested it on Tioga with ROCm/HIP enabled.

[2022-11-12 02:23] v-dobrev commented on #197
As recommended by @balay, using an older boost version (e.g. v1.74.0 works, v1.76.0 does not work) is a workaround for the boost issue described above.

With that resolved, another issue I hit is the auto-detected support for ALTIVEC vectorization: the auto-detection finds it but then the source code does not work (I think because the base version of `compare_and_apply_mask` in `vectorization.h` d

[2022-11-14 03:53] balay commented on #204
cc: @ghammond86

[2022-11-14 10:33] jthies commented on #205
Does the Cray compiler identify as CLANG? We only set this flag for GCC and CLANG, so I'm wondering.
What is also curious is that this configuration should not have to compile any Fortran code (note the ~fortran variant).
Could you attach the complete CMake output and error logs?

[2022-11-14 18:41] ghammond86 commented on #204
Using NERSC compilers, I fixed the "error" above and several subsequent errors reported by the Cray Fortran compiler. Although fixing several of these will result in cleaner code, many are baseless. I believe the one above to be baseless; it actually degrades modularity. There is also a cryptic link error that makes no sense, for which i cannot find a workaround.

/opt/cray/pe/cce/14.0.1/binutils/

[2022-11-14 19:34] v-dobrev commented on #205
As far as I know, the newer versions of the C and C++ Cray compilers are Clang-based, however the Fortran compiler is not.

Here is the full Spack build log: [phist--spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/10006424/phist--spack-build-out.txt)

[2022-11-14 19:49] v-dobrev commented on #204
What will be the change in the xSDK and/or PFLOTRAN Spack recipes to achieve this?

[2022-11-16 18:29] shuds13 opened #206 "Hiop CUDA error on Summit with gcc8.3.1"
Spack:
git clone https://gitlab.com/xsdk-project/spack-xsdk
git checkout xsdk
Most recent commit: 40e4884e8b32a1fb949c1031e3f432aa68459e58

Spec:
xsdk~dealii@0.8.0+cuda cuda_arch=70 ^netlib-lapack ^spectrum-mpi@10.4.0.3 ^python@3.8

[code]

[build_log_hiop_error.txt](https://github.com/xsdk-project/xsdk-issues/files/10024663/build_log_hiop_error.txt)
[spack.yaml.txt](https://github.com/xsdk-projec

[2022-11-16 21:57] shuds13 commented on #206
Currently bypassing by disabling raja.

[2022-11-17 02:34] v-dobrev commented on #206
This was reported here: https://github.com/LLNL/hiop/pull/567 and fixed upstream here: https://github.com/LLNL/hiop/pull/568.

As workaround, I use `^hiop+shared` for xSDK v0.8.0.

[2022-11-17 15:25] shuds13 commented on #206
`^hiop+shared` worked for me.

[2022-11-17 15:25] #206 closed

[2022-11-17 16:56] ghammond86 commented on #204
@balay I recommend building pflotran ("make pflotran") for all compilers other than Cray and building pflotran_rxn ("make pflotran_rxn") for Cray. I confirmed that pflotran_rxn builds with Cray compilers on NERSC perlmutter.

[2022-11-17 17:23] balay commented on #204
Do I understand correctly that pflotran_rxn doesn't require PETSc?

I'm not sure who to implement `depends_on("petsc", when="not using cray-compilers")`. Perhaps @v-dobrev knows how to encode this.

Alternative is to add a variant `rxn`.

I have this [untested] change at https://github.com/spack/spack/commits/balay/pflotran-rxn

[2022-11-17 17:33] balay commented on #204
[code]

Ok - I guess I mis-understood.

[2022-11-17 18:13] balay commented on #204
I reset the petsc dependency. Also `make pflotran_rxn` is in src/pflotran - and not top-level makefile.

 And I pushed my changes.

 A basic build of `pflotran+rxn` works on my linux box.  Perhaps @v-dobrev can try a build with this branch.

BTW: alternative (that might work): `spack install xsdk@cce... ^pflotran@gcc...`

[2022-11-17 19:18] ghammond86 commented on #204
pflotran_rxn is a simple reaction wrapper code that links to libpflotranchem.a, a subset library that covers the chemical reaction capability. "Everything pflotran" requires PETSc.  The current Cray bugs/issues/incompatibilities within pflotran are outside the libpflotranchem.a subset of the code.

libpflotranchem.a is the library leveraged by Amanzi-ATS. I note that Amanzi-ATS does not appear to

[2022-11-18 10:22] jthies commented on #205
I see, thanks.
Our CMake sees clang as the C/C++ compiler and sets Fortran flags based on that, but th Fortran compiler is Cray. I'll have to fix that.

[2022-11-18 14:55] balay commented on #204
PR at: https://github.com/spack/spack/pull/33995

[2022-11-18 20:42] v-dobrev commented on #204
I see that the Spack PR is now merged -- I'll try to test it later today in spack@develop.

[2022-11-18 22:54] jthies commented on #205
Hi @v-dobrev, could you try to build phist@develop now? I added a workaround, if it works for you I'll patch the 1.11.2 version.

[2022-11-19 18:05] balay commented on #204
I get: (on crusher)
[code]

[2022-11-22 18:17] pghysels opened #207 "Hypre cannot find cublas/cusparse/curand on Perlmutter"
On Perlmutter, with GCC and with the system's CUDA.

[code]

To use systems cuda libraries, I have in `~/.spack/packages.yaml`:

[code]

On Perlmutter, the CUDA math libs are in a separate folder from the main CUDA libraries:
`/opt/nvidia/hpc_sdk/Linux_x86_64/22.5/cuda/11.7/lib64`
`/opt/nvidia/hpc_sdk/Linux_x86_64/22.5/math_libs/11.7/lib64`

[spack-build-out.txt](https://github.com/xsdk-project/xs

[2022-11-22 20:56] osborn9 commented on #207
This will cause issues as we make assumptions on the location of the CUDA libs (e.g., all located in the same place under ${CUDA_HOME}). We have a workaround for this when manually building hypre, but not a fix in spack.

[2022-11-22 21:29] pghysels commented on #207
Maybe we just need to:
`export LIBRARY_PATH=/opt/nvidia/hpc_sdk/Linux_x86_64/22.5/math_libs/11.7/lib64:$LIBRARY_PATH`
I'll try that soon. The Perlmutter scratch filesystem seems to be down at the moment.

[2022-11-23 01:55] balay opened #208 "alquimia failure with clang@15.0.4"
[spack-build-out.txt](https://github.com/xsdk-project/xsdk-issues/files/10072345/spack-build-out.txt)

cc: @smolins

ref: [glci@pj01 spack]$ ./bin/spack install xsdk@0.8.0%clang@15.0.4 ^strumpack%gcc@12.2.1  ^exago~python

[2022-11-23 03:32] balay opened #209 "strumpack, superlu-dist build failure with clang@15.0.4 [on fedroa37] with mpich"
[code]

So gfortran compiler options is getting passed to clang - so perhaps a bug in cmake build code?

Both pkgs have similar failures [and no other xsdk pkgs have this failure]
[spack-build-out-strmpk-mpich.txt](https://github.com/xsdk-project/xsdk-issues/files/10072657/spack-build-out-strmpk-mpich.txt)
[spack-build-out-slu-mpich.txt](https://github.com/xsdk-project/xsdk-issues/files/10072658/s

[2022-11-23 19:01] pghysels commented on #209
I can reproduce this on my fedora machine.
I'm looking into it. I don't think superlu-dist or strumpack explicitly add this `-fallow-argument-mismatch` flag, so it must be coming from one of the dependencies?

[2022-11-23 19:09] balay commented on #209
[code]

mpif90 from mpich adds in this option - but somehow the superlu-dist build process [aka cmake?] grabs this option somehow and uses it with mpicc?

Likely there is some code that attempts to detect and use some MPI stuff with both C and Fotran compilers..

But then - this occurs only with superlu-dist and strumpack - so I'm guessing there is some common cmake-code that they both use..

[2022-11-23 20:00] pghysels commented on #209
Basically all I do is:
[code]

[2022-11-23 20:31] balay commented on #209
Yeah - I don't know how to debug cmake. Perhaps @balos1 has suggestions for this weird issue.

I attempted a petsc build with `--download-superlu-dist` - and couldn't reproduce this issue. The cmake options here are a bit different - but couldn't narrow down to the cmake option that's making the difference.

[2022-11-23 21:14] balay commented on #209
So the following gets the superlu_dist build working for me:
[code]

[this probably just masks the buggy code path]

but then - strumpack already has this flag set - so the trigger here  must be  different.

[2022-11-23 21:33] pghysels commented on #209
I think for strumpack the flag enters through ButterflyPACK.

[2022-11-23 21:34] pghysels commented on #207
that didn't work

[2022-11-23 21:36] balay commented on #209
Ah - strumpack is not passing in these options. I'm not sure how strumpack cmake would pick up stuff from ButterflyPACK [without doing the extra mpi detecton - thats the buggy code path]

So the following gets this going [ to the next issue - internal compiler error]

[code]

[2022-11-24 01:47] pghysels commented on #209
In this commit https://github.com/pghysels/STRUMPACK/commit/632458936a750b6ff2db1a3f5eba64e82513ba76
I rewrote some loops, and this seems to fix the clang internal compiler error.

There was a reason for this
[code]
strumpack's CMake handling of MPI changed, and I think it's also because if you set the compilers to the Cray wrappers, CMake doesn't search for MPI, and then the cuda compiler doesn't